<div class="row mb5">
  <div class="col">
    <h1>{{ raid.name }}</h1>
  </div>
</div>
<div class="row mb5">
  <div class="col">
    <p>Start: {{ raid.start_datetime | date:'dd.MM.yyyy, HH:mm \'Uhr\'' }}</p>
  </div>
  <div class="col">
    <p>Ende: {{ raid.finish_datetime | date:'dd.MM.yyyy, HH:mm \'Uhr\'' }}</p>
  </div>
</div>
<div class="row">
  <div class="col" [innerHtml]="raid.description"></div>
</div>
<div class="row" *ngFor="let instance of filterInstances(raid)">
  <div class="col">
    <div class="row">
      <div class="col">
        <h2>{{ instance.name }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Start: {{ instance.start_datetime | date:'dd.MM.yyyy, HH:mm \'Uhr\'' }},
        Ende: {{ instance.finish_datetime | date:'dd.MM.yyyy, HH:mm \'Uhr\'' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col" [innerHtml]="instance.description"></div>
    </div>
    <div class="row" *ngFor="let boss of filterBosses(instance)">
      <div class="col">
        <div class="row">
          <div class="col">
            <h3>{{ boss.name }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
