<div class="row">
  <div class="col">
    <div class="container">
      <h1 class="float-left">Guide: Majordomus Exekutus</h1>
      <small class="float-left">(eng. Majordomo Executus)</small>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Exekutus ist der h&ouml;chste Diener von Ragnaros.
    Er ist der Letzte, der sich zwischen euch und Ragnaros
    stellt und dies auch nur so lange, bis ihr seine
    Handlanger erlegt habt. Exekutus selbst muss von euch
    nicht get&ouml;tet werden.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <img src="/assets/guide/mc/mc_majordomus.png"
    class="rounded float-left"
    alt="Molten Core - Majordomus Executus" />
    <p>Vor dem Pull steht Exekutus an einer Kohlenpfanne,
    seine Handlanger sind im Halbkreis um ihn versammelt.
    Konkret sind dies 4
    <s href="https://classic.wowhead.com/npc=11664/flamewaker-elite">Feuerschuppenelite</a>
    und 4
    <a href="https://classic.wowhead.com/npc=11663/flamewaker-healer">Feuerschuppenheiler</a>.
    Die gro&szlig;en Elite k&ouml;nnen nicht &uuml;ber
    Crowd Control-Zauber im Zaum gehalten werden und
    m&uuml;ssen demnach getankt werden. Die Heiler
    werden durch die Magier &uuml;ber
    <a href="https://classic.wowhead.com/spell=118/polymorph">Verwandlung</a>
    im Zaum gehalten. Dies ist allerdings nur m&ouml;glich
    bis 4 Handlanger, egal welcher Art, get&ouml;tet wurden.
    Neben den 4 Magiern werden deshalb 5 Tanks ben&ouml;tigt.
    Der Main-Tank &uuml;bernimmt den Boss, die Off-Tanks
    &uuml;bernehmen zu Beginn die gro&szlig;en Elite. Wenn
    nicht gen&uuml;gend Off-Tanks vorhanden sind, k&ouml;nnen die Elite
    auch von J&auml;gern gekitet werden. Die Kite-Variante
    hat ebenfalls den Vorteil, dass die AoE-Zauber des gekiteten
    Handlanger von den anderen Off-Tanks ferngehalten werden.
    Weiterhin ist zu erw&auml;hnen, dass die verbleibenden
    Handlanger umso st&auml;rker werden, je mehr Handlanger
    bereits erlegt wurden.</p>
  </div>
</div>
