<div class="row">
  <div class="col">
    <h1>Guide: Majordomus Exekutus
      <small>(eng. Majordomo Executus)</small>
    </h1>
  </div>
</div>
<img src="/assets/guide/mc/mc_majordomus.png"
    class="rounded float-left mr-3"
    alt="Molten Core - Majordomus Executus" />
<div class="row">
  <div class="col">
    <p>Exekutus ist der h&ouml;chste Diener von Ragnaros.
    Er ist der Letzte, der sich zwischen euch und Ragnaros
    stellt und dies auch nur so lange, bis ihr seine
    Handlanger erlegt habt. Exekutus selbst muss von euch
    nicht get&ouml;tet werden.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Vor dem Pull steht Exekutus an einer Kohlenpfanne,
    seine Handlanger sind im Halbkreis um ihn versammelt.
    Konkret sind dies 4
    <a href="https://classic.wowhead.com/npc=11664">Feuerschuppenelite</a>
    und 4
    <a href="https://classic.wowhead.com/npc=11663">Feuerschuppenheiler</a>.
    Die gro&szlig;en Elite k&ouml;nnen nicht &uuml;ber
    Crowd Control-Zauber im Zaum gehalten werden und
    m&uuml;ssen demnach getankt werden. Die Heiler
    werden durch die Magier &uuml;ber
    <a href="https://classic.wowhead.com/spell=118">Verwandlung</a>
    im Zaum gehalten. Dies ist allerdings nur m&ouml;glich
    bis 4 Handlanger, egal welcher Art, get&ouml;tet wurden.
    Neben den 4 Magiern werden deshalb 5 Tanks ben&ouml;tigt.
    Der Main-Tank &uuml;bernimmt den Boss, die Off-Tanks
    &uuml;bernehmen zu Beginn die gro&szlig;en Elite. Wenn
    nicht gen&uuml;gend Off-Tanks vorhanden sind, k&ouml;nnen die Elite
    auch von J&auml;gern gekitet werden. Die Kite-Variante
    hat ebenfalls den Vorteil, dass die AoE-Zauber des gekiteten
    Handlanger von den anderen Off-Tanks ferngehalten werden.
    Weiterhin ist zu erw&auml;hnen, dass die verbleibenden
    Handlanger umso st&auml;rker werden, je mehr Handlanger
    bereits erlegt wurden.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Dieser Kampf ben&ouml;tigt viel Koordination und
    gute Positionierung. Die Off-Tanks ziehen die Handlanger
    auf die linke Seite der Kohlenpfanne und tanken sie dort.
    Die Handlanger wirken regelm&auml;&szlig;ig
    Fl&auml;chenschaden. Sie k&ouml;nnen dennoch an einer
    gemeinsamen Position getankt werden, da dieser Schaden
    noch wegheilbar ist, solange viele Handlanger leben. Wichtig
    ist, dass dieser Fl&auml;chenschaden nicht in den Raid
    hinein wirkt, deshalb die Tankposition neben den Kohlenpfanne
    an der Klippe (obere Tankposition in der Grafik).</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Der Pull wird von einem Paladin mit Bubble oder einem
    J&auml;gerpet &uuml;bernommen, damit jeder Zeit hat,
    sein Target abzuspotten oder zu verwandeln. Der Pull sollte
    links der Kohlenpfanne erfolgen, damit die Off-Tanks
    einen kurzen Weg haben, um die Handlanger an der Klippe zu
    platzieren und die Heiler-Handlanger f&uuml;r weitere
    Verwandlungen durch die Magiere in Reichweite sind.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Die Handlanger werden nacheinander auf eine Fokusposition
    am Aufgang zu Exekutus gezogen (untere Tankposition in der
    Grafik sowie Pfeil zur Verdeutlichung des Wegs) und muss
    dort sicher stehen, d.h. Schaden wird auf
    das Add gemacht, wenn es an der Position angekommen ist und
    der Tank bereits etwas Bedrohung aufbauen konnte. Der Raid
    steht an der Wand, so dass er die AoE-Zauber des
    Handlangers nicht abbekommt. Auch Nahk&auml;mpfer warten
    dort bis der Handlanger positioniert ist und der Tank Bedrohung
    aufgebaut hat.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Da nach dem Tod von 4 Handlangern die Verwandlung der
    Heiler aufbricht, gestaltet sich der Kampf unterschiedlich
    je nachdem in welcher Reihenfolge die Handlanger get&ouml;tet
    werden. Aufgrund der F&auml;higkeiten der Heiler empfiehlt es
    sich, zun&auml;chst 2 Elite zu t&ouml;ten und dann 2 Heiler.
    Zuviele gleichzeitig aktive Heiler-Handlanger f&uuml;hrt dazu,
    das keine magischen Schadenseffekte mehr erfolgen k&ouml;nnen,
    da die Heiler
    <a href="https://classic.wowhead.com/spell=20619">Magische Reflektion</a>
    auf alle Handlanger wirken. Zuviele gleichzeitig aktive Elite
    erzeugen zuviel AoE-Schaden, wenn bereits Handlanger tot sind.
    Andere Guides berichten, dass die Reflektion durch Exekutus gewirkt
    wird, unsere Erfahrung ist allerdings, dass diese nur aktiv wird,
    wenn ein Heiler aus der Verwandlung kommt.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>W&auml;hrend die Handlanger bek&auml;mpft werden, k&ouml;nnen
    sie unterschiedliche Verst&auml;rkungen erhalten. Neben der
    bereits erw&auml;hnten
    <a href="https://classic.wowhead.com/spell=20619">Magische Reflektion</a>
    erhalten die Handlanger ab und an das Schutzschild
    <a href="https://classic.wowhead.com/spell=20620">Aegis des Ragnaros</a>
    und ein
    <a href="https://classic.wowhead.com/spell=21075">Schadenschild</a>.
    Diese Effekte sind entsprechend zu beachten, damit der Raid keinen Schaden bekommt.
    Nahk&auml;mpfer achten darauf, durch das Schadenschild nicht zu viel Schaden
    abzubekommen, Fernk&auml;mpfer passen bei der magischen Reflektion auf. Vor
    allem die Magiere m&uuml;ssen darauf achten, die Verwandlung zu erneuern, bevor
    die magische Reflektion aktiv wird. Daher sollte die Verwandlung immer erneuert
    werden, bevor ein Heiler aus der Verwandlung geholt wird.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Dem ist aber noch nicht genug. Neben den Machenschaften der Handlanger
    wird Exekutus auch zuf&auml;llige Raidteilnehmer ausw&auml;hlen und mit
    <a href="https://classic.wowhead.com/spell=20618">Teleport</a>
    in die Kohlepfanne schicken. Hier muss derjenige sehr schnell herauslaufen
    um keinen Schaden durch die hei&szlig;en Kohlen zu erhalten. Da der Weg von
    der Kohlepfanne zur Raidposition kurz gehalten ist, ist derjenige wieder sehr
    schnell einsatzbereit.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Weiterer Raidschaden wird durch
    <a href="https://classic.wowhead.com/spell=20603">Schattenschock</a>,
    <a href="https://classic.wowhead.com/spell=20623">Feuerschlag</a>,
    <a href="https://classic.wowhead.com/spell=21077">Schattenblitz</a> und
    <a href="https://classic.wowhead.com/spell=20420">Feuerball</a> der
    Handlanger entstehen. Durch entsprechende Schilde, Schutzzauber und
    Resistenzen kann dieser Raidschaden reduziert werden.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Rollenspezifische Hinweise</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Folgende Hinweise sind von den einzelnen Rollen w&auml;hrend dieser Phase zu beachten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Tanks</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Der Main-Tank positioniert Exekutus direkt neben der Kohlepfanne. Wird
      er teleportiert, kann er somit Exekutus wieder sehr schnell spotten.</li>
      <li>Die Off-Tanks ziehen die Handlanger nach links an die Klippe neben der
      Kohlepfanne. Die auf euch wirkenden AoE-Schadenseffekte der Handlanger
      werden umso st&auml;rker, je mehr Handlanger tot sind. Im Laufe des Kampfes
      k&ouml;nnt ihr euch somit um Schaden zu vermeiden, weiter auseinander
      stellen.</li>
      <li>Wenn euer Handlanger zum Fokus-Target wird, zieht ihr diesen zum
      Aufgang und positioniert ihn dort. Ist euer Handlanger tot, positioniert ihr
      euch in der N&auml;he eines weiteren Handlangers, damit ihr ihn tanken
      k&ouml;nnt, wenn er aus der Verwandlung kommt. Auch diesen zieht ihr
      wieder an die Fokusposition.</li>
      <li>Die verschiedenen Positionen sind in der Grafik mit roter Markierung
      versehen.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Nahk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Zu Beginn wartet ihr mit dem Raid an der Wand. Sobald das Fokus-Target
      positioniert ist und der Tank Bedrohung aufgebaut hat, k&ouml;nnt ihr
      dort hinrennen und Schaden auf das Fokus-Target machen (gelbe Position in
      der Grafik).</li>
      <li>Beachtet, dass die Elite AoE-Schaden wirken. Habt ihr geringe Gesundheit
      geht lieber auf Abstand und nutzt einen Verband, um euch zu heilen, bevor
      ihr wieder in N&auml;he des Elite geht.</li>
      <li>Wenn die Handlanger mit dem
      <a href="https://classic.wowhead.com/spell=21075">Schadenschild</a>
      umgeben sind, werdet ihr Schaden erhalten, wenn ihr Schaden auf den Handlanger
      wirkt, ber&uuml;cksichtigt dies und macht etwas langsamer, damit die Heiler euch
      gut mitheilen k&ouml;nnen.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Fernk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Zusammen mit den Heilern positioniert ihr euch an
      der Wand, um keine AoE-Effekte der Elite abzubekommen
      (lila Position in der Grafik).</li>
      <li>4 Magier erhalten einen Heiler-Handlanger zugeteilt,
      um diesen regelm&auml;&szlig;ig zu verwandeln. Wirkt die
      Verwandlung immer in kurzen Zeitabst&auml;nden, da die
      Handlanger nicht die komplette Verwandlungsdauer verwandelt
      bleiben und das Brechen einer Verhandlung sofort zum
      Reflektionsschild f&uuml;hrt, was euch das neue verwandeln
      deutlich erschwert.</li>
      <li>Beachtet, dass immer wieder
      <a href="https://classic.wowhead.com/spell=20619">Magische Reflektion</a>
      auf den Handlangern aktiv wird. In diesen Momenten d&uuml;rt
      ihr keinen Schadenszauber auf den Handlanger wirken, da ihr euch sonst
      selbst starken Schaden zuf&uuml;gt.</li>
      <li>Achtet auf eure Bedrohung. Ein Elite im Raid verursacht
      zu viel Schaden durch seine AoE-Zauber. Vor allem dem ersten
      Off-Tank solltet ihr Zeit zum Antanken geben.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Heiler</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Zusammen mit den Fernk&auml;mpfern positioniert
      ihr euch an der Wand (gr&uuml;n in der Grafik eingezeichnet).
      Von dort aus solltet ihr sowohl den Raid, als auch die Tanks
      in Reichweite haben. Die Heiler des Main-Tanks m&uuml;ssen sich
      gegebenenfalls etwas weiter rechts positionieren.</li>
      <li>Wichtig ist vor allem, dass die Tanks und eingeteilten
      Magiere &uuml;berleben. Jeder Handlanger, der unkontrolliert
      heruml&auml;uft w&uuml;rde ernorm viel Schaden auf den gesamten
      Raid erzeugen.</li>
      <li>Da Schattenschaden einen Hauptanteil spielt, sollte
      durch die Priester
      <a href="https://classic.wowhead.com/spell=976">Schattenschutz</a>
      an alle Raidmitglieder verteilt werden.</li>
    </ul>
  </div>
</div>
