<div class="row">
  <div class="col mb5">
    <h1>Neuen Charakter anlegen</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Damit die Homepage deinen WoW Classic-Charakter kennt, musst du ihn zun&auml;chst hier eintragen.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <form>
      <div class="form-group">
        <label for="realm">Realm:</label>
        <select id="realm" class="custom-select form-control"></select>
      </div>
      <div class="form-group">
        <label for="characterName">Charaktername:</label>
        <input type="text" class="form-control" id="name" placeholder="Charaktername" />
      </div>
      <div class="form-group">
        <label for="faction">Fraktion:</label>
        <select id="faction" class="custom-select form-control"></select>
      </div>
      <div class="form-group">
        <label for="race">Volk:</label>
        <select id="race" class="custom-select form-control"></select>
      </div>
      <div class="form-group">
        <label for="class">Klasse:</label>
        <select id="class" class="custom-select form-control"></select>
      </div>
      <button type="submit" class="btn btn-primary">Anlegen</button>
    </form>
  </div>
</div>
