<div class="row">
  <div class="col">
    <h1>Guide: Lucifron</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    Lucifron ist der erste Sherge, der sich euch im geschmolzenen
    Kern in den Weg stellt. Als Diener von Ragnaros ist er nicht
    dar&uuml;ber erfreut, dass ihr in das feurige Reich eingedrungen
    seid. Er versucht euch daher vom weiteren Vorankommen abzuhalten
    und besch&uuml;tzt Magmadar vor den Angreifern.
  </div>
</div>
<div class="row">
  <div class="col">
    Lucifron wird von zwei
    <a href="https://classic.wowhead.com/npc=12119">Feuerschuppenbesch&uuml;tzern</a>
    begleitet. Diese sind zuerst zu t&ouml;ten, bevor Lucifron selbst
    umgebracht wird. Sowohl Lucifron als auch die beiden Besch&uuml;tzern
    erhalten jeweils einen Tank zugeteilt. Die drei werden in der N&auml;he
    getankt, allerdings so, dass sie sich weder gegenseitig noch den Raid
    anschauen.
  </div>
</div>
<div class="row">
  <div class="col">
    Die Besch&ouml;tzer werden immer wieder eure
    <a href="https://classic.wowhead.com/spell=20604">Gedanken
    beherrschen</a>. Dieser magische Effekt ist sofort von
    den Priestern zu entfernen. Auf &uuml;bernommene Raidmitglieder
    sollte kein Schaden gemacht werden. Zus&auml;tzlich verflucht
    Lucifron den gesamten Raid immer mit seinem
    <a href="https://classic.wowhead.com/spell=19703">Fluch</a>.
    Dieser f&uuml;hrt dazu, dass alle F&auml;higkeiten das Doppelte
    kosten. Dieser Fluch ist sofort von den Magiern zu entfernen,
    ansonsten wird dem Raid sehr zeitnah das Mana fehlen. Weiterhin
    versucht Lucifron &uuml;ber eine
    <a href="https://classic.wowhead.com/spell=19702">drohende
    Verdammnis</a> euch den Gar auszumachen. Auch hier sind die
    Priester wieder gefragt und m&uuml;ssen diesen magischen Effekt
    entfernen, um hohen Schaden am Raid zu vermeiden.
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Rollenspezifische Hinweise</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Folgende Hinweise sind von den einzelnen Rollen w&auml;hrend dieser Phase zu beachten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Tanks</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Lucifron und seine beiden Besch&uuml;tzer werden
      jeweils von einem Tank &uuml;bernommen.</li>
      <li>Die drei werden in der N&auml;he getankt,
      d&uuml;rfen sich aber weder gegenseitig noch
      den Raid ansehen.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Nahk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Ihr m&uuml;sst nichts spezielles beachten.</li>
      <li>T&ouml;tet zun&auml;chst die beiden Besch&uuml;tzer,
      dann Lucifron.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Fernk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>T&ouml;tet zun&auml;chst die beiden Besch&uuml;tzer,
      dann Lucifron.</li>
      <li>Magiere haben die Hauptaufgabe, die Raidteilnehmer
      von
      <a href="https://classic.wowhead.com/spell=19703">Lucifrons
      Fluch</a> zu befreien. Sobald der Fluch aktiv ist, brecht
      eure Schadenszauber ab und k&uuml;mmert euch um das Entfernen
      des Fluchs.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Heiler</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Sowohl die Tanks als auch der Raid
      werden eure Heilung brauchen.</li>
      <li>Die Hauptaufgabe der Priester besteht darin,
      den Raid von den
      <a href="https://classic.wowhead.com/spell=20604">beherrschten
      Gedanken</a> und der
      <a href="https://classic.wowhead.com/spell=19702">drohende
      Verdammnis</a> zu retten. Diese magischen Effekte
      sind sofort zu entfernen.</li>
    </ul>
  </div>
</div>
