<div class="row">
  <div class="col mb5">
    <h1>Raidtermine</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Die Anmeldung zu den Raidterminen erfolgt derzeit noch in unserer Battle.net-Gruppe.
    Die Anmeldungen werden derzeit in einer
    <a href="https://docs.google.com/spreadsheets/d/1L9aJFPj-9ezdV0TYzOAT3cg3ToEI76wzjBiTwxNYMlU/edit?usp=sharing">Tabelle</a>
    zusammengefasst. Sp&auml;ter wird die Anmeldung direkt hier auf der Homepage erfolgen.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Start</th>
          <th scope="col">Ende</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="loading">
          <td colspan="3">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </td>
        </tr>
        <tr *ngFor="let raid of raids">
          <td><a [routerLink]=" '/raid/' + raid.key ">{{ raid.name }}</a></td>
          <td>{{ raid.start_datetime | date:'dd.MM.yyyy, HH:mm \'Uhr\'' }}</td>
          <td>{{ raid.finish_datetime | date:'dd.MM.yyyy, HH:mm \'Uhr\'' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
