<div class="row">
  <div class="col">
    <h1>Guide: Magmadar</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Der Scho&szlig;hund von Ragnaros besch&uuml;tzt die
    Erste der Runen, die mittels der
    <a href="https://classic.wowhead.com/item=17333">w&auml;ssrigen
    Quintessenzen</a> zu l&ouml;schen sind. Erst wenn diese
    Runen gel&ouml;scht wurden, wird Majordomus erscheinen
    und damit auch die M&ouml;glichkeit schaffen, Ragnaros
    entgegenzutreten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Magmadar wehrt sich gegen seine Angreifer und versucht
    sie, wenn er in
    <a href="https://classic.wowhead.com/spell=19408">Panik</a>
    ger&auml;t zu f&uuml;rchten. Alle Raidteilnehmer in Reichweite
    werden somit von Furch ergriffen und laufen 8 Sekunden
    orientiertungslos im Raum herum. Insbesondere der Tank ist
    vor diesem Furchteffekt zu sch&uuml;tzen. Der Tank kann sich
    mittels Stance-Dance und
    <a href="https://classic.wowhead.com/spell=18499">Berserker-Wut</a>
    dagegen wehren. Zus&auml;tzlich sollten Zwergen-Priester den
    <a href="https://classic.wowhead.com/spell=6346">Furchtzauberschutz</a>
    auf dem Tank aufrecht erhalten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Neben dem Tank werden vor allem Nahk&auml;mpfer Schaden durch
    <a href="https://classic.wowhead.com/spell=19450">Magmaspucke</a>
    erhalten. Diese verursacht Feuerschaden und kann bis zu dreimal
    gestapelt werden. Weiterhin wirkt Magmadar eine
    <a href="https://classic.wowhead.com/spell=19411">Lava-Bombe</a>
    auf einen beliebigen Spieler und hinterl&auml;sst an dessen
    Position ein Flamme, die hohen Feuerschaden macht. Aus dieser
    Flamme m&uuml;ssen alle betroffenen Spieler sofort herausrennen.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Ab und an ger&auml;t Magmadar in
    <a href="https://classic.wowhead.com/spell=19451">Raserei</a>
    und erh&ouml;ht damit nicht nur sein Angriffstempo, sondern
    wirkt auch einen besonders Schadhaften
    <a href="https://classic.wowhead.com/spell=19272">Lava-Atem</a>,
    der nicht nur die Tanks sondern auch alle Nahk&auml;mpfer trifft.
    J&auml;ger m&uuml;ssen dies &uuml;ber einen
    <a href="https://classic.wowhead.com/spell=19801">einlullenden
    Schuss</a> beenden. Diesen k&ouml;nnen sie &uuml;ber den
    <a href="https://classic.wowhead.com/item=16665">Foliant</a>
    lernen, der bei Lucifron erbeutet wird.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Rollenspezifische Hinweise</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Folgende Hinweise sind von den einzelnen Rollen w&auml;hrend dieser Phase zu beachten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Tanks</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>F&uuml;r Magmadar wird nur ein Tank ben&ouml;tigt.</li>
      <li>Sch&uuml;tzt euch mittels Stance-Dance und
      <a href="https://classic.wowhead.com/spell=18499">Berserker-Wut</a>
      vor dem Fear.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Nahk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Haltet euch hinter Magmadar auf, damit ihr
      w&auml;hrend der Raserei nicht vom Lava-Atem
      getroffen werdet.</li>
      <li>Sollte bei euch eine Flamme entstehen,
      lauft schnell aus dieser heraus.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Fernk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Geht auf maximale Reichweite, um nicht w&auml;hrend
      der Panik von Furcht ergriffen zu werden.</li>
      <li>Wenn bei euch eine Flamme entsteht, bewegt euch
      schnell aus dieser heraus.</li>
      <li>Wenn Magmadar in
      <a href="https://classic.wowhead.com/spell=19451">Raserei</a>
      ger&auml;t, m&uuml;ssen J&auml;ger sofort einen
      <a href="https://classic.wowhead.com/spell=19801">einlullenden
      Schuss</a> absetzen.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Heiler</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Sollte bei euch eine Flamme entstehen, bewegt
      euch schnell aus dieser heraus.</li>
      <li>Stellt euch soweit wie m&ouml;glich von
      Magmadar entfernt, um nicht von der Furch w&auml;hrend
      der Panik ergriffen zu werden.</li>
      <li>Zwergen-Priester m&uuml;ssen den
      <a href="https://classic.wowhead.com/spell=6346">Furchtzauberschutz</a>
      auf dem Tank aufrecht erhalten.</li>
    </ul>
  </div>
</div>
