<ul class="nav nav-tabs" [id]="uuid + '-attendeesTabs'" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" [id]="'classes-' + uuid + '-tab'" data-toggle="tab" [href]="'#classes-' + uuid" role="tab" [attr.aria-controls]="'classes-' + uuid" aria-selected="true">nach Klassen</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [id]="'roles-' + uuid + '-tab'" data-toggle="tab" [href]="'#roles-' + uuid" role="tab" [attr.aria-controls]="'roles-' + uuid" aria-selected="false">nach Rollen</a>
  </li>
</ul>
<div class="tab-content" [id]="uuid + '-attendeesTabsContent'">
  <div class="tab-pane fade show active" [id]="'classes-' + uuid" role="tabpanel" [attr.aria-labelledby]="'classes-' + uuid + '-tab'">
    <div class="row">
      <div class="col" *ngIf="druids.length > 0">
        <div class="row">
          <div class="col">
            <strong>Druiden</strong>
          </div>
        </div>
        <div class="row" *ngFor="let druid of druids">
          <div class="col">
            <raid-attendee [attendee]="druid"></raid-attendee>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="hunters.length > 0">
        <div class="row">
          <div class="col">
            <strong>J&auml;ger</strong>
          </div>
        </div>
        <div class="row" *ngFor="let hunter of hunters">
          <div class="col">
            <raid-attendee [attendee]="hunter"></raid-attendee>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="mages.length > 0">
        <div class="row">
          <div class="col">
            <strong>Magier</strong>
          </div>
        </div>
        <div class="row" *ngFor="let mage of mages">
          <div class="col">
            <raid-attendee [attendee]="mage"></raid-attendee>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="unknownClass.length > 0">
        <div class="row">
          <div class="col">
            <strong>Unbekannt</strong>
          </div>
        </div>
        <div class="row" *ngFor="let unknownC of unknownClass">
          <div class="col">
            <raid-attendee [attendee]="unknownC"></raid-attendee>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" [id]="'roles-' + uuid" role="tabpanel" [attr.aria-labelledby]="'roles-' + uuid + '-tab'">
    <div class="row">
      <div class="col" *ngIf="tanks.length > 0">
        <div class="row">
          <div class="col">
            <strong>Tanks</strong>
          </div>
        </div>
        <div class="row" *ngFor="let tank of tanks">
          <div class="col">
            <raid-attendee [attendee]="tank"></raid-attendee>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="melees.length > 0">
        <div class="row">
          <div class="col">
            <strong>Nahk&auml;mpfer</strong>
          </div>
        </div>
        <div class="row" *ngFor="let melee of melees">
          <div class="col">
            <raid-attendee [attendee]="melee"></raid-attendee>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="rangeds.length > 0">
        <div class="row">
          <div class="col">
            <strong>Fernk&auml;mpfer</strong>
          </div>
        </div>
        <div class="row" *ngFor="let ranged of rangeds">
          <div class="col">
            <raid-attendee [attendee]="ranged"></raid-attendee>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="healers.length > 0">
        <div class="row">
          <div class="col">
            <strong>Heiler</strong>
          </div>
        </div>
        <div class="row" *ngFor="let heal of healers">
          <div class="col">
            <raid-attendee [attendee]="heal"></raid-attendee>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="unknownRole.length > 0">
        <div class="row">
          <div class="col">
            <strong>Unbekannt</strong>
          </div>
        </div>
        <div class="row" *ngFor="let unknownR of unknownRole">
          <div class="col">
            <raid-attendee [attendee]="unknownR"></raid-attendee>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
