<div class="row">
  <div class="col mb3">
    <h1>Lootregeln</h1>
  </div>
</div>
<div class="row">
  <div class="col mb5">
    <p>F&uuml;r unsere Raids geleten folgende Lootregeln.</p>
  </div>
</div>
<div class="row m2">
  <div class="col">
    <h2>Aktuell g&uuml;ltige Lootregeln</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Generell gilt, dass jeder an der Lootverteilung beteiligt ist, d.h. auch Randoms haben eine faire Chance auf Loot. Die Epic-Items werden per Würfelwurf unter Allen, die Bedarf haben, verteilt. &quot;Verkaufen im Auktionshaus&quot; ist kein Bedarf.</li>
      <li>Bei Boss-Loot (Items aus der Loot-Tabelle der Bosse) haben die Raidteilnehmer vorrang, die am selben Abend noch kein Item in derselben Instanz erhalten haben.</li>
      <li>Epic-Drops beim Trash werden am Ende verteilt. Vorrang haben die Raidteilnehmer, die keinen Boos-Loot erhalten haben.</li>
      <li>Sofern kein Bedarf auf ein Item besteht, wird dieses zur Finanzierung des Raids verwendet oder aufgehoben, um neue Stammmitglieder damit auszustatten, wenn sie Bedarf haben.</li>
      <li>Gr&uuml;ne und blaue Items, auch die Kerne, werden zur Finanzierung des Raids verwendet.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col mb4">
    <p>Randbemerkung: Finanzierung des Raids k&ouml;nnen zum Beispiel Materialkosten f&uuml;r Repbots, Gr&ouml;&szlig;e Feuerschutztr&auml;nke, etc. sein.</p>
  </div>
</div>
<div class="row">
  <div class="col mb2">
    <h2>Vorbereitung eines DKP oder einer anderen effizienten Lootverteilung</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Derzeit diskutieren wir angeregt &uuml;ber eine Aktualisierung des Lootsystems. Ziel soll sein, die Stammspieler des Raids gut und gleichm&auml;&szlig;ig fair auszustatten.<br />
    Es sind einige Vorschl&auml;ge eingegangen, die genauer betrachtet werden m&uuml;ssen, so dass wir die beste L&ouml;sung finden.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Vorbereitend dazu sammeln wir ab dem 28. November 2019 Daten &uuml;ber Raidteilnahme, Boss-Kills, erhaltene Items, etc..<br />
    Ziel dabei ist den Gr&uuml;ndungsmitgliedern einen guten Start in ein neues Lootverteilungssystem zu erm&ouml;glichen und somit ihr Engagement, das von Anfang an da war, entsprechend zu belohnen.</p>
  </div>
</div>
