<div class="row">
  <div class="col mb3">
    <h1>Lootregeln</h1>
  </div>
</div>
<div class="row">
  <div class="col mb5">
    <p>F&uuml;r unsere Raids gelten folgende Lootregeln.</p>
  </div>
</div>
<div class="row m2">
  <div class="col">
    <h2>Lootsystem</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>F&uuml;r jeden Spieler werden drei Punktekonten gef&uuml;hrt:</p>
    <dl>
      <dt>Effort Points (EP)</dt>
      <dd>Punkte, die der Spieler durch sein Engagement verdient. Diese Punkte belohnen somit den Einsatz des Spielers.</dd>
      <dt>Gear Points (GP)</dt>
      <dd>Diese Punkte sagen aus, wieviele Gegenst&auml;nde der Spieler mitgenommen hat. Sie sind somit ein Indikator, wie stark ein Spieler bereits f&uuml;r seinen Einsatz belohnt wurde.</dd>
      <dt>StandBy Points (SB)</dt>
      <dd>Ab und an kommt es vor, dass ein Spieler auf der Ersatzbank sitzt. In dieser Zeit leistet er Rufbereitschaft f&uuml;r den Raid, kann solange aber seine Zeit anderweitig nutzen. Deshalb erh&auml;lt der Spieler weniger EffortPoints, als wenn er die ganze Zeit im Raid dabei w&auml;re. Diese Differenz wird auf das StandBy-Konto umgebucht. Es ist damit ein Indikator daf&uuml;r, wie oft der Spieler auf der Ersatzbank war bzw. wieviele EffortPoints ihm dadurch entgangen sind. Um eine gleichm&auml;&szlig;ige Besetzung der Ersatzbank zu erreichen, m&uuml;ssen im Zweifel Spieler auf die Ersatzbank, die weniger EffortPoints auf dem StandBy-Konto haben.</dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Anhand der Konten lassen sich Priorit&auml;ten bilden, die f&uuml;r die Platz- und Lootvergabe verwendet werden, wenn die Spieler <em>A</em> und <em>B</em> konkurrieren.</p>
    <dl>
      <dt>Lootpriorit&auml;t</dt>
      <dd><i>EPGP</i><sub>A</sub> > <i>EPGP</i><sub>B</sub>, wobei <i>EPGP</i><sub>X</sub> = <i>EP</i><sub>X</sub> : <i>GP</i><sub>X</sub></dd>
      <dt>Einsatzpriorit&auml;t</dt>
      <dd><i>SB</i><sub>A</sub> > <i>SB</i><sub>B</sub></dd>
    </dl>
    <p>In Ausnahmef&auml;llen wird von diesen Priorit&auml;ten abgewichen. Ein Beispiel hierf&uuml;r ist der Bedarf eines Nah- oder Fernk&auml;mpfers von der Ersatzbank anstatt eines Heilers.</p>
  </div>
</div>
