<div class="row">
  <div class="col mb-3">
    <h1>Lootregeln</h1>
  </div>
</div>
<div class="row">
  <div class="col mb-3">
    <p>F&uuml;r unsere Raids gelten folgende Lootregeln.</p>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <h2>Lootsystem</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>F&uuml;r jeden Spieler werden drei Punktekonten gef&uuml;hrt:</p>
    <dl>
      <dt>Effort Points (EP)</dt>
      <dd>Punkte, die der Spieler durch sein Engagement verdient. Diese Punkte belohnen somit den Einsatz des Spielers.</dd>
      <dt>Gear Points (GP)</dt>
      <dd>Diese Punkte sagen aus, wieviele Gegenst&auml;nde der Spieler mitgenommen hat. Sie sind somit ein Indikator, wie stark ein Spieler bereits f&uuml;r seinen Einsatz belohnt wurde.</dd>
      <dt>StandBy Points (SB)</dt>
      <dd>Ab und an kommt es vor, dass ein Spieler auf der Ersatzbank sitzt. In dieser Zeit leistet er Rufbereitschaft f&uuml;r den Raid, kann solange aber seine Zeit anderweitig nutzen. Deshalb erh&auml;lt der Spieler weniger EffortPoints, als wenn er die ganze Zeit im Raid dabei w&auml;re. Diese Differenz wird auf das StandBy-Konto umgebucht. Es ist damit ein Indikator daf&uuml;r, wie oft der Spieler auf der Ersatzbank war bzw. wieviele EffortPoints ihm dadurch entgangen sind. Um eine gleichm&auml;&szlig;ige Besetzung der Ersatzbank zu erreichen, m&uuml;ssen im Zweifel Spieler auf die Ersatzbank, die weniger EffortPoints auf dem StandBy-Konto haben.</dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Anhand der Konten lassen sich Priorit&auml;ten bilden, die f&uuml;r die Platz- und Lootvergabe verwendet werden, wenn die Spieler <em>A</em> und <em>B</em> konkurrieren.</p>
    <dl>
      <dt>Lootpriorit&auml;t</dt>
      <dd><i>EPGP</i><sub>A</sub> > <i>EPGP</i><sub>B</sub>, wobei <i>EPGP</i><sub>X</sub> = <i>EP</i><sub>X</sub> : <i>GP</i><sub>X</sub></dd>
      <dt>Einsatzpriorit&auml;t</dt>
      <dd><i>SB</i><sub>A</sub> > <i>SB</i><sub>B</sub></dd>
    </dl>
    <p>In Ausnahmef&auml;llen wird von diesen Priorit&auml;ten abgewichen. Ein Beispiel hierf&uuml;r ist der Bedarf eines Nah- oder Fernk&auml;mpfers von der Ersatzbank anstatt eines Heilers.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Damit sich die Punktekonten am aktuellen Geschehen orientieren, verfallenen jede Woche zum Server-Reset 10% der jeweiligen Punkte auf dem Konto. Dies hat insbesondere folgende Vorteile:</p>
    <ul>
      <li>Kein Spieler kann beliebig viele Punkte horten und damit uneinholbar werden. Es ist im Interesse des gesamten Teams, dass die Punkte zeitnah f&uuml;r Ausr&uuml;stung verwendet werden, die beim Vorankommen hilft. Reines Punktesparen w&uuml;rde den weiteren Fortschritt behindern.</li>
      <li>Die Aktivit&auml;t der Teammitglieder wird belohnt, denn Punkte der Teammitglieder, die jetzt aktiv sind, z&auml;hlen mehr als fr&uuml;her gesammelte Punkte.</li>
      <li>Der Einsteig f&uuml;r neue Teammitglieder wird erm&ouml;glicht und vereinfacht. Ihr aktueller Einsatz f&auml;llt st&auml;rker ins Gewicht als angesparte Punkte von alten Hasen.</li>
      <li>Veraltete Items, die vor l&auml;ngerem gelootet wurden, schlagen nicht mehr so stark ins Gewicht.</li>
    </ul>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <h3>Einsatzplanung</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Wenn mehr als 40 Spieler an einem Abend da sind, muss entschieden werden, welcher Spieler auf die Ersatzbank geht. Sofern sinnvoll durchf&uuml;hrbar, erhalten diejenigen einen Teilnahmeplatz, die sich zuerst gemeldet haben. Wird eine andere Zusammenstellung f&uuml;r den Abend ben&ouml;tigt, kann es auch mal sein, dass  jemand mitgenommen wird, der sich sp&auml;ter angemeldet hat. Weiterhin wird auf die oben erw&auml;hnte Einsatzpriorit&auml;t geachtet. Hat ein Spieler einen hohen Punktestand auf dem StandBy-Konto, so wird er bevorzugt und derjenige mit geringem Punktestand weicht auf die Ersatzbank aus.</p>
  </div>
</div>
