<div class="row">
  <div class="col">
    <h1>Teilnahme anlegen</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <form [formGroup]="attendeeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <div
            class="form-group">
            <label for="event">Event:</label>
            <select
              id="event"
              formControlName="event"
              class="custom-select form-control"
              placeholder="Event"
              (change)="suggestDateTimes()"
              required="required">
              <option *ngFor="let event of events" [value]="event.key">{{ event.key }} ({{ event.name }})</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div
            class="form-group">
            <label for="recursive">Untergeordnete Events einbeziehen?</label>
            <input type="checkbox"
              formControlName="recursive"
              class="form-control"
              id="recursive"
              checked="checked" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div
            class="form-group">
            <label for="character">Charakter:</label>
            <select
              id="character"
              formControlName="character"
              class="custom-select form-control"
              placeholder="Charakter"
              required="required">
              <option *ngFor="let character of characters" [value]="[ character.realm, character.name ]">{{ character.name }} ({{ character.realm }})</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div
            class="form-group">
            <label for="start_date_time">Startzeit:</label>
            <input type="datetime-local"
              formControlName="start_date_time"
              class="form-control"
              id="start_date_time"
              required="required" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div
            class="form-group">
            <label for="finish_date_time">Endzeit:</label>
            <input type="datetime-local"
              formControlName="finish_date_time"
              class="form-control"
              id="finish_date_time"
              required="required" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div
            class="form-group">
            <label for="roles">Rolle(n):</label>
            <select
              id="roles"
              formControlName="roles"
              class="custom-select form-control"
              placeholder="Rolle(n)"
              size="4"
              multiple="multiple">
              <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary">Anlegen</button>
        </div>
      </div>
    </form>
  </div>
</div>
