<div class="row">
  <div class="col mb5">
    <h1>Guides</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    Die folgenden Guides sollen euch auf euren Abenteuern in World
    of Warcraft unterst&uuml;tzen.
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Raid-Guides</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    Die hier beschriebenen Boss-Taktiken
    verwenden wir in unseren Raids.
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li><a routerLink="/guide/mc">Geschmolzener Kern</a> (eng. Molten Core)</li>
      <li><a routerLink="/guide/onyxia">Onyxias Hort</a> (eng. Onyxia's Lair)</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Addons</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    Folgende Addons sind im Raid sehr hilfreich:
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>
        <a routerLink="/guide/addon/decursive">Decursive</a><br />
        <small>Addon zum Entfernen von b&ouml;sartigen Effekten (Fl&uuml;che, Krankheiten, etc.)</small>
      </li>
    </ul>
  </div>
</div>
