<div class="row">
  <div class="col">
    <h1>Guide: Garr</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Garr ist ein rie&szlig;er Lava-Elementar, der eine weitere Rune bewacht.
    Zusammen mit seinen acht Helfern versucht er Eindringlinge davon abzuhalten,
    die Rune zu l&ouml;schen.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>In diesem Kampf gilt es, die Kontrolle &uuml;ber Garrs Helfer zu behalten.
    Am einfachsten ist es, diese mit gen&uuml;gend Hexenmeistern zu
    <a href="https://classic.wowhead.com/spell=710">verbannen</a>. Die restlichen
    werden getankt. Gut ausger&uuml;stete Tanks k&ouml;nnen auch zwei zusammen
    tanken. Der Helfer, auf den sich der Schaden fokussiert, sollte allerdings
    alleine getankt werden. Da die kleinen Elementare
    <a href="https://classic.wowhead.com/spell=19497">explodieren</a>, wenn
    sie sterben, fokussieren sich die Nahk&auml;mpfer von Anfang an auf den
    Boss, die Fernk&auml;mpfer k&uuml;mmern sich zun&auml;chst um alle Helfer,
    die nicht verbannt werden konnten und wechseln anschlie&szlig;end auf Garr.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Garr selbst stellt keine gr&ouml;&szlig;e Herausforderung dar, da er
    nur auf die Tanks Schaden macht. Zus&auml;tzlich wirkt er einen
    <a href="https://classic.wowhead.com/spell=19492">Antimagie-Puls</a>,
    der von allen Angreifern, die sich in Reichweite befinden, einen
    magischen Effekt entfernt. Das bedeutet, dass er dem Raid im Laufe der
    Zeit alle Buffs stiehlt. Die Raid versucht sich deshalb mit allen
    m&ouml;glichen Buffs auszustatten, auch wenn diese f&uuml;r den Kampf
    nicht n&ouml;tig sind. Solche zus&auml;tzlichen Buffs k&ouml;nnen
    Unterwasseratmung, Unsichtbarkeit entdecken, Magie vers&auml;rken, etc.
    sein.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Die Helfer werden abseits des Bosses getankt und im Abstand zueinander,
    so dass sie bei der Explosion weder Nahk&auml;mpfer noch andere Tanks
    beeinflussen. Die Fernk&auml;mpfer halten beim T&ouml;ten der Helfer
    genug Abstand zu Garr, um ihre Buffs m&ouml;glichst lange zu behalten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Rollenspezifische Hinweise</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Folgende Hinweise sind von den einzelnen Rollen w&auml;hrend dieser Phase zu beachten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Tanks</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Einer von euch schnappt sich Garr, die anderen tanken
      jeweils ein unverbanntes Elementar.</li>
      <li>Tankt die Elementare mit Abstand zueinander, damit die
      anderen Tanks nicht von deren Explosion beim Sterben
      getroffen werden. Weiterhin ist wichtig, dass ihr die
      Elementare abseits von Garr tankt, damit dieser euch
      keine Buffs stiehlt und ihr Explosionsschaden auf die
      Nahk&auml;mpfer vermeidet.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Nahk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Ihr fokussiert euch auf Garr.</li>
      <li>Die kleinen Elementare explodieren, wenn sie sterben,
      haltet in diesem Moment Abstand.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Fernk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Ihr t&ouml;tet zun&auml;chst die kleinen Elementare,
      dann macht ihr Schaden auf Garr.</li>
      <li>Haltet Abstand zu den Elementaren, denn sie explodieren,
      wenn sie sterben.</li>
      <li>Die Hexenmeister verbannen jeweils ein kleines Elementar,
      bis Garr auf dem Boden liegt.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Heiler</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Haltet Abstand zu den kleinen Elementaren,
      denn sie explodieren beim Sterben.</li>
      <li>Stellt euch darauf ein, dass die Tanks der
      kleinen Elementare Schaden erleiden, wenn die
      Elementare sterben. In diesem Moment sollte
      der Tank eine gute Gesundheit aufweisen.</li>
    </ul>
  </div>
</div>
