<div class="row">
  <div class="col">
    <h1>Guide: Gehennas</h1>
  </div>
</div>
<figure class="figure float-left mr-3">
  <img
    src="/assets/guide/mc/mc_gehennas1.png"
    class="figure-img img-fluid rounded"
    alt="Molten Core - Gehennas - Phase 1">
  <figcaption
    class="figure-caption
    text-left">
    Phase 1: Vernichten der Flammenschuppen
  </figcaption>
</figure>
<figure class="figure float-right ml-3">
  <img
    src="/assets/guide/mc/mc_gehennas2.png"
    class="figure-img img-fluid rounded"
    alt="Molten Core - Gehennas - Phase 2">
  <figcaption
    class="figure-caption
    text-left">
    Phase 2: Kampf gegen Gehennas
  </figcaption>
</figure>
<div class="row">
  <div class="col">
    <p>Auch wenn Gehennas weit unten in der Hierarchie
    steht und Misstrauen von Vielen erf&auml;hrt, hat
    er zwei loyale Flammenschuppen als Gefolgsleute,
    die mit ihm zusammen eine Rune bewachen.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Der Kampf gestaltet sich relativ simpel: Sowohl
    Gehennas als auch die Flammenschuppen werden jeweils
    einem Tank zugeteilt. Der Main-Tank positioniert sich
    mit Gehennas an der Position, an der Gehennas bereits
    steht. Die Off-Tanks ziehen die Flammenschuppen ums
    Eck, so dass der Raid nicht in Sicht zu Gehenass steht
    und somit zun&auml;chst von seinen Angriffen verschont
    bleibt. Lediglich die Tank-Heiler und ein Magier gehen
    bereits in Gehennas N&auml;he, um den Main-Tank zu
    unterst&uuml;tzen.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Die Flammenschuppen machen Nahk&auml;mpfer mit einem
    <a href="https://classic.wowhead.com/spell=20277">Faustschlag</a>
    f&uuml;r wenige Sekunden handlungsunf&auml;hig.
    Mehr ist von ihnen nicht zu bef&uuml;rchten. Die Aufgabe des
    Raids ist, beide Flammenschuppen zu besiegen und dann in Phase
    2 einzusteigen, das hei&szlig;t zu Gehennas zu laufen und
    ihn zu ermorden.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Gehennas
    <a href="https://classic.wowhead.com/spell=19716">verflucht</a>
    regelm&auml;&szlig;ig alle in Sicht stehenden Raidteilnehmer.
    In Phase 1 werden der Main-Tank, dessen Heiler und ein bei Gehenass
    positionierter Magier vom Fluch getroffen. Der Magier k&uuml;mmert
    sich darum, den Fluch schnellstm&ouml;glich zu entfernen. Vor allem
    der Main-Tank muss zuerst vom Fluch befreit werden, da Heileffekte um
    75% reduziert werden. Sobald der Raid in Phase 2 einsteigt und in
    Sicht von Gehennas steht, wird der gesamte Raid verflcuht. Hier helfen
    dann alle Magiere beim Entfernen der Fl&uuml;che mit.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Zus&auml;tzlich wirkt Gehenass ab und an einen
    <a href="https://classic.wowhead.com/spell=5740">Feuerregen</a>.
    Da dieser viel Schaden verursacht m&uuml;ssen betroffene
    Teilnehmer schnellstm&ouml;glich aus diesem herauslaufen. Es
    empfiehlt sich daher, dass der Raid weit verteilt aufgestellt ist,
    damit nur wenige vom Feuerregen betroffen sind.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Rollenspezifische Hinweise</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Folgende Hinweise sind von den einzelnen Rollen w&auml;hrend dieser Phase zu beachten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Tanks</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Sowohl Gehenass als auch den Flammenschuppen wird
      jeweils ein Tank zugeteilt.</li>
      <li>Der Main-Tank positioniert sich mit Gehenass an
      der Anfangsposition des Bosses und tankt diesen mit dem
      R&uuml;cken zur Wand.</li>
      <li>Die Off-Tanks ziehen die Flammenschuppen um die Ecke
      und sorgen daf&uuml;r, dass diese nicht in den Raid
      schauen.</li>
      <li>Insbesondere der Main-Tank muss darauf achten, ob
      er im Feuerregen steht und dort hinauslaufen.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Nahk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>T&ouml;tet zun&auml;chst die Flammenschuppen,
      dann rennt ihr zu Gehennas und t&ouml;tet ihn.</li>
      <li>Falls ihr in den Feuerregen geratet, lauft dort
      hinaus.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Fernk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>T&ouml;tet zun&auml;chst die Flammenschuppen, dann
      geht ihr zu Gehenass und t&ouml;tet ihn.</li>
      <li>Die Hauptaufgabe der Magiere besteht im Entfernen
      der Fl&uuml;che. Sorgt daf&uuml;r, dass zuerst die Tanks
      und Tank-Heiler entflucht werden.</li>
      <li>In Phase 1 begleitet ein Magier den Main-Tank und die
      Main-Tank-Heiler zu Gehennas, um diese entsprechend zu
      entfluchen.</li>
      <li>Wenn ihr im Flammenregen steht, geht dort schnell
      hinaus.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Heiler</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Heilt die Tanks und den Raid.</li>
      <li>Der Fluch reduziert erhaltene Heilung um 75%. Eine
      effizientere Heilung wirkt ihr somit auf bereits
      entfluchte Ziele.</li>
      <li>Da der ein oder andere Schattenblitz den Raid treffen
      wird, k&ouml;nnen die Priester Schattenschutz buffen, um
      die n&ouml;tige Heilung zu reduzieren.</li>
    </ul>
  </div>
</div>
