<div class="row">
  <div class="col mb5">
    <h1>Guide: Geschmolzener Kern</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    Der geschmolzene Kern ist die erste Raidinstanz in
    World of Warcraft Classic. Er ist das Reich des
    Elementarf&uuml;rsts Ragnaros. Ihm kann man aber
    erst entgegentreten, wenn man seine Verb&uuml;ndeten
    und Diener get&ouml;tet hat.
  </div>
</div>
<div class="row">
  <div class="col mb3">
    <h2>Bosse</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    Die Bosse des geschmolzenen Kerns sind f&uuml;r jeden
    eingespielten Raid leicht zu erlegen. Sie dienen
    haupts&auml;chlich dazu, die grundlege Spielweise in
    World of Warcraft zu trainieren. Vor allem kommt es auf
    die richtige Koordination, Heilung und entfernen b&ouml;sartiger
    Effekte wie Fl&uuml;chen an. Folgenden B&ouml;sewichten steht ihr
    gegen&uuml;ber:
  </div>
</div>
<div class="row">
  <div class="col">
    <img src="/assets/guide/mc/mc_bosses.png"
    class="img-fluid m-3" alt="Molten Core - Bosse" />
  </div>
</div>
<div class="row">
  <div class="col">
    <ol>
      <li>Lucifron</li>
      <li>Magmadar</li>
      <li>Gehennas</li>
      <li>Garr</li>
      <li>Baron Geddon</li>
      <li>Shazzrah</li>
      <li>Sulfuronherold (eng. Sulfuron Harbinger)</li>
      <li>Golemagg der Verbrenner (eng. Golemagg the Incinerator)</li>
      <li><a routerLink="/guide/mc/majordomus">Majordomus Exekutus</a> (eng. Majordomo Executus)</li>
      <li>Ragnaros</li>
    </ol>
  </div>
</div>
