<div class="row">
  <div class="col">
    <h1>Guide: Shazzrah</h1>
  </div>
</div>
<img src="/assets/guide/mc/mc_shazzrah.png"
    class="rounded float-right ml-3"
    alt="Molten Core - Shazzrah" />
<div class="row">
  <div class="col">
    <p>Bevor ihr die Rune l&ouml;schen k&ouml;nnt,
    m&uuml;sst ihr zun&auml;chst den Flammenw&auml;chter
    Shazzrah besiegen. Er k&auml;mpft alleine gegen
    euch, seine Verteidigungszauber sind daf&uuml;r
    stark.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>&Uuml;ber
    <a href="https://classic.wowhead.com/spell=19712">arkane
    Explosionen</a> verletzt Shazzrah alle Raidteilnehmer
    in seiner N&auml;he. Um dabei den Schaden zu erh&ouml;hen
    <a href="https://classic.wowhead.com/spell=19713">verflucht</a>
    Shazzrah den gesamten Raid. Dieser Fluch muss so schnell
    wie m&ouml;glich entfernt werden.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Weiterhin
    <a href="https://classic.wowhead.com/spell=28391">teleportiert</a>
    sich Shazzrah zu einem beliebigen Ziel, um dort weiteren Schaden
    durch Explosionen anzurichten. Deshalb verteilt sich der Raid
    breit aufgestellt im Halbkreis um Shazzrah. Dort wo sich
    Shazzrah hinteleportiert, laufen alle Umstehenden weit auseinander,
    um der Explosion auszuweichen. Ein Off-Tank spottet Shazzrah ab
    und bringt ihn zur&uuml;ck in den Mittelpunkt des Halbkreises, wo er
    wie zuvor getankt wird.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Dem nicht genug, versucht Shazzrah euch &uuml;ber
    <a href="https://classic.wowhead.com/spell=19715">Gegenzauber</a>
    am Zaubern zu hindern. Heiler und zaubernde Fernk&auml;mpfer
    m&uuml;ssen aufpassen, da der Gegenzauber die Zauberschule
    f&uuml;r 10 Sekunden sperrt, zu der der Zauber geh&ouml;rt,
    den der betroffene Raidteilnehmer gerade wirkt.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Um sich zus&auml;tzlich zu sch&uuml;tzen
    <a href="https://classic.wowhead.com/spell=19714">d&auml;mpft
    Shazzrah jegliche Magie</a>, die auf ihn gewirkt wird.
    Dieser Buff kann von Magiern durch
    <a href="https://classic.wowhead.com/spell=2855">Magieentdeckung</a>
    sichtbar gemacht werden. Dann kann der Buff zum Beispiel von
    Priestern entfernt werden.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Rollenspezifische Hinweise</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Folgende Hinweise sind von den einzelnen Rollen w&auml;hrend dieser Phase zu beachten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Tanks</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Shazzrah wird in der Mitte getankt, der Raid
      verteilt sich im Halbkreis um ihn.</li>
      <li>Die Off-Tanks verteilen sich im Halbkreis
      und spotten Shazzrah, wenn sich dieser in den
      Halbkreis teleportiert. Anschlie&szlig;end an
      den Spott wird Shazzrah zur&uuml;ck zum
      Mittelpunkt gezogen.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Nahk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Shazzrah wirkt arkane Explosionen,
      die vor allem den Nahk&auml;mpfern viel
      Schaden bereiten. Wenn ihr geringe
      Gesundheit habt, geht auf Abstand zu
      Shazzrah.</li>
      <li>Nachdem sich Shazzrah teleportiert
      hat, muss der Tank die Bedrohung neu
      aufbauen. Passt in diesem Moment auf
      eure Bedrohung auf.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Fernk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Wenn sich Shazzrah zu euch teleportiert,
      geht schnell auf Abstand.</li>
      <li>Beachtet, dass der Tank die Bedrohung
      verliert, wenn Shazzrah sich teleportiert.
      Achtet in diesem Moment auf eure Bedrohung.</li>
      <li>Hauptaufgabe der Magiere ist, Shazzrahs
      Fluch vom Raid zu entfernen. Entflucht
      zun&auml;chst Tanks und Heiler, dann den
      restlichen Raid.</li>
      <li>Weiterhin k&uuml;mmert sich ein Magier
      darum, Magie auf Shazzrah zu entdecken,
      damit seine Schutzmagie entfernt werden kann.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Heiler</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>In diesem Kampf werden insbesondere
      Tanks und Nahk&auml;mpfer viel Schaden erhalten.</li>
      <li>K&uuml;mmert euch nach Shazzrahs Teleportation
      darum, den Raid wieder hochzuheilen.</li>
      <li>Shazzrahs Schutzzauber (Magie d&auml;mpfen)
      muss von ihm entfernt werden, dies kann zum
      Beispiel ein Priester &uuml;bernehmen.</li>
    </ul>
  </div>
</div>
