<div class="row">
  <div class="col">
    <h1>Kontoverwaltung: EPGP Buchungsassistent</h1>
  </div>
</div>
<div class="row" *ngIf="accountsLoading || charactersLoading || eventsLoading || itemsLoading">
  <div class="col">
    <div class="row">
      <div class="col">
        <h2>Vorbereitung</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul>
          <li *ngIf="accountsLoading">Lade EPGP-Accountdaten...</li>
          <li *ngIf="charactersLoading">Lade Charaktere...</li>
          <li *ngIf="eventsLoading">Lade Ereignisse...</li>
          <li *ngIf="itemsLoading">Lade Gegenstände...</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<ng-template #prepared>
  <div class="row">
    <div class="col">
    </div>
  </div>
</ng-template>
