<div class="row">
  <div class="col">
    <h1>Kontoverwaltung: EPGP Buchungsassistent</h1>
  </div>
</div>
<div class="row" *ngIf="accountsLoading || charactersLoading || eventsLoading || itemsLoading; else prepared">
  <div class="col">
    <div class="row">
      <div class="col">
        <h2>Vorbereitung</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul>
          <li *ngIf="accountsLoading">Lade EPGP-Accountdaten...</li>
          <li *ngIf="charactersLoading">Lade Charaktere...</li>
          <li *ngIf="eventsLoading">Lade Ereignisse...</li>
          <li *ngIf="itemsLoading">Lade Gegenstände...</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<ng-template #prepared>
  <div class="row">
    <div class="col">
      <h2>
        Grundlagen
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="basicsForm">
        <div class="row">
          <div class="col-6">
            <div
              class="form-group">
              <label for="events">Raids:</label>
              <select
                formControlName="events"
                class="custom-select form-control"
                placeholder="Raids"
                size="4"
                multiple="multiple">
                <option *ngFor="let event of filterAndSortRaids(events)" [value]="event.key">{{ event.key }} ({{ event.name }})</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div
              class="form-group">
              <label for="characters">Charaktere:</label>
              <select
                formControlName="characters"
                class="custom-select form-control"
                placeholder="Charaktere"
                size="4"
                multiple="multiple">
                <option *ngFor="let character of basicsCharacters" [value]="[ character.realm, character.name ]">{{ character.name }} ({{ character.realm }})</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div
              class="form-group">
              <label for="characters">Pünktlichkeitspunkte:</label>
              <input
                type="number"
                formControlName="early_bonus"
                step="0.01"
                class="form-control" />
            </div>
          </div>
          <div class="col">
            <button class="btn btn-secondary" (click)="generateTransactions()">Buchungen vorschlagen</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>
        Buchungen
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="transactionsForm">
        <div
          class="row form-row"
          formArrayName="transactions"
          *ngFor="let transaction of transactionsForm.get('transactions').controls; let i = index;">
          <div
            class="col"
            [formGroupName]="i">
            <div class="row">
              <div class="col-2">
                <div
                  class="form-group">
                  <label for="account">Konto:</label>
                  <select
                    formControlName="account"
                    class="custom-select form-control"
                    placeholder="Konto"
                    required="required">
                    <option *ngFor="let account of accounts" [value]="account" [compareWith]="compareAccounts">{{ account.description }}</option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div
                class="form-group">
                  <label for="date_time">Zeit:</label>
                  <input type="datetime-local"
                    formControlName="date_time"
                    class="form-control"
                    required="required" />
                </div>
              </div>
              <div class="col-5">
                <div
                  class="form-group">
                  <label for="title">Verwendungszweck:</label>
                  <input
                    type="text"
                    formControlName="title"
                    class="form-control"
                    placeholder="Verwendungszweck"
                    required="required" />
                </div>
              </div>
              <div class="col-2">
                <div
                  class="form-group">
                  <label for="value">Wert:</label>
                  <input
                    type="number"
                    formControlName="value"
                    step="0.01"
                    class="form-control" />
                </div>
              </div>
              <div class="col">
                <button class="btn btn-danger" (click)="removeTransaction(i)">X</button>
              </div>
              <div class="col-4">
                <div
                  class="form-group">
                  <label for="characters">Charaktere:</label>
                  <select
                    formControlName="characters"
                    class="custom-select form-control"
                    placeholder="Charaktere"
                    size="4"
                    multiple="multiple">
                    <option *ngFor="let character of characters" [value]="character">{{ character.name }} ({{ character.realm }})</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div
                  class="form-group">
                  <label for="events">Ereignisse:</label>
                  <select
                    formControlName="events"
                    class="custom-select form-control"
                    placeholder="Ereignisse"
                    size="4"
                    multiple="multiple">
                    <option *ngFor="let event of events" [value]="event">{{ event.key }} ({{ event.name }})</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div
                  class="form-group">
                  <label for="account">Gegenstände:</label>
                  <select
                    formControlName="items"
                    class="custom-select form-control"
                    placeholder="Konto"
                    size="4"
                    multiple="multiple">
                    <option *ngFor="let item of items" [value]="item">{{ item.name }} (ID: {{ item.blizzard_identifier }})</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-secondary" (click)="addTransaction()">Weitere Buchung hinzufügen</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
