<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Just4Fun</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Raidzeiten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lootregeln">Lootregeln</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/raids">Raidtermine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/guide">Guides</a>
      </li>
      <li class="nav-item" *ngIf="authenticated && (groups.includes('admin') || groups.includes('loot_master') )">
        <a class="nav-link" routerLink="/admin">Verwaltung</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/impressum">Impressum</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!authenticated">
        <a class="nav-link" routerLink="/user">Login</a>
      </li>
      <li class="dropdown" *ngIf="authenticated">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
          <a class="dropdown-item" routerLink="/user/characters">Charakterverwaltung</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
