<div class="row">
  <div class="col">
    <h1>Verwaltung</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Raidverwaltung</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>
        <a routerLink="/admin/raids">Eventverwaltung</a>
      </li>
      <li>
        <a routerLink="/admin/attendees">Teilnehmerverwaltung</a>
      </li>
      <li>
        <a routerLink="/admin/loot">Lootverwaltung</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>
      Kontoverwaltung
    </h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>
        <a routerLink="admin/epgp">EPGP</a>
      </li>
    </ul>
  </div>
</div>
