<div class="row">
  <div class="col">
    <h1>Guide: Baron Geddon</h1>
  </div>
</div>
<img src="/assets/guide/mc/mc_geddon.png"
    class="rounded float-right ml-3"
    alt="Molten Core - Baron Geddon" />
<div class="row">
  <div class="col">
    <p>Baron Geddon, einer der &auml;ltesten
    Feuerelementare m&ouml;chte euch ebenfalls
    den Weg versperren. Er ben&ouml;tigt keine
    Helfer und wird euch alleine im Weg stehen.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Seine F&auml;higkeiten sind simpel doch zugleich
    effektiv. Er verteilt gerne Feuerschaden und wirkt
    ab und an ein
    <a href="https://classic.wowhead.com/spell=19695">Inferno</a>
    um sich herum. Dieses verursacht hohen Schaden am
    Tank und den Nahk&auml;mpfern. Weiterhin sorgt er
    daf&uuml;r, dass
    <a href="https://classic.wowhead.com/spell=19659">Mana Feuer
    f&auml;ngt</a>. Jeder Raidteilnehmer, der Mana besitzt,
    verliert mit diesem Debuff Anteile davon und erh&auml;lt
    in gleichen Umfang Schaden. Deshalb muss die Magie des
    Debuffs sofort entfernt werden.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Hinzu kommt, dass Geddon Bomben wirft und somit
    Spieler zur
    <a href="https://classic.wowhead.com/spell=20475">Lebenden
    Bombe</a> macht. Der Raidteilnehmer und alle, die
    um ihn herum stehen, erhalten Feuerschaden und fliegen
    in die Luft, um zus&auml;tzlich Fallschaden zu erleiden.
    Der Fallschaden kann vermieden werden, wenn die
    Deckenh&ouml;he gering ist.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Geddon wird in der Mitte getankt, die Heiler
    und Fernk&auml;mpfer platzieren sich in der Ecke an
    der linken Wand des Raumes. Wer die Bombe hat,
    rennt zur&uml;ck an die rechte Seite des Tunnels,
    &uuml;ber den Geddons Raum betreten wurde. Dort ist
    die Deckenh&ouml;he gering und der Abstand zum
    restlichen Raid gro&szlig; genug. Der Tank und
    die Nahk&auml;mpfer laufen w&auml;hrend des Infernos
    ebenfalls zur linken Wand, um nicht vom
    Fl&auml;chenschaden getroffen zu werden. Nach Ende
    der jeweiligen Bossf&auml;higkeit, nimmt jeder wieder
    die urspr&uuml;ngliche Position ein. Die Positionen
    und Laufwege sind in der obigen Grafik ersichtlich.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Rollenspezifische Hinweise</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Folgende Hinweise sind von den einzelnen Rollen w&auml;hrend dieser Phase zu beachten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Tanks</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>F&uuml;r Geddon wird nur ein Tank ben&ouml;tigt.</li>
      <li>W&auml;hrend des Infernos geht der Tank zusammen
      mit den Nahk&auml;mpfern aus Geddons Reichweite (an
      die Wand).</li>
      <li>Die Wahrscheinlichkeit, dass der Tank zur lebenden
      Bombe wird, ist gering. Wird er doch zur Bombe sollte
      er Nahk&auml;mpfern und Heilern bescheid geben. Die
      Nahk&auml;mpfer verhalten sich dann wie beim Inferno,
      die Heiler versorgen den Tank mit viel Heilung, damit
      er den zus&auml;tzlichen Schaden &uuml;berlebt.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Nahk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Wenn Geddon seinen Fl&auml;chenschaden wirkt,
      begebt ihr euch schnell an die Wand, um au&szlig;er
      Reichweite zu sein.</li>
      <li>Wenn ihr die lebende Bombe seid, lauft ihr
      zur&uuml;ck zum Tunnel, aus dem ihr gekommen seid.
      Dort ist die Decke niedrig und ihr erleidet keinen
      Fallschaden. Wenn ihr w&auml;hrend des Infernos zur
      Bombe werdet, lauft ihr ebenfalls zum Tunnel.</li>
      <li>Wenn der Tank zur lebenden Bombe wird, lauft
      ihr ebenfalls zur Wand, wie ihr es auch w&auml;hrend
      des Infernos tun w&uuml;rdet.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Fernk&auml;mpfer</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Wenn ihr zur lebenden Bombe werdet,
      lauft ihr zur&uuml;ck zum Tunnel, aus dem
      ihr gekommen seid. Durch die geringe
      Deckenh&ouml;he erleidet ihr keinen
      Fallschaden.</li>
      <li>Wenn der Tank und die Nahk&auml;mpfer
      dem Inferno ausweichen, reduziert ihr euren
      Bedrohungsaufbau auf dem Boss. Im Zweifel
      nutzt lieber bedrohungsarme Schadenszauber
      oder nur Zauberst&auml;be.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Heiler</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Wenn ihr zur lebenden Bombe werdet
      lauft zur&uuml;ck zum Tunnel, aus dem
      ihr gekommen seid. Durch die geringe
      Deckenh&ouml;he erleidet ihr keinen
      Fallschaden.</li>
      <li>Wenn der Tank zur lebenden Bombe
      wird, ben&ouml;tigt er zus&auml;tzliche
      Heilung. Seid darauf vorbereitet.</li>
      <li>Wenn Geddon das Mana verbrennt,
      entfernt diese Magie sofort von allen
      Manaklassen, zuerst von den Heilern,
      dann von den Fernk&auml;mpfern.</li>
    </ul>
  </div>
</div>
