<div class="row">
  <div class="col">
    <h1>Guide: Onyxias Hort</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>In Onyxias Hort tretet ihr Nefarians Schwester Onyxia entgegen.
    Da sie der einzigste Bossgegner ist, der euch in der Instanz
    erwartet, handelt es sich um eine sehr kurze Schlachtzugsinstanz.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Trash</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Die Drachkins vor Onyxia lassen sich sehr leicht erledigen.
    Ihre einzige besondere Fähigkeit ist ein starker AoE, den sie
    um sich wirken. Nahkämpfer gehen deshalb auf Abstand, wenn
    sie geringe Gesundheit haben.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Boss: Onyxia</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    Der Kampf mit Onyxia setzt sich aus drei Phasen zusammen.
    In der ersten Phase versucht sich Onyxia mit ihrem
    <a href="https://classic.wowhead.com/spell=18435/flame-breath">Flammenatem</a>
     und
    <a href="https://classic.wowhead.com/spell=15847/tail-sweep">Schwanzschlag</a>
    zu wehren. In der zweiten Phase steigt sie
    empor und versucht &uuml;ber ihren
    <a href="https://classic.wowhead.com/spell=17086/breath">Atem</a>
    den Raid auszul&ouml;schen. Tapfere Helden, die dies &uuml;berleben
    werden sie auch in einer dritten Phase zu Boden reissen und
    sie letztendlich besiegen.
  </div>
</div>
