<div class="row">
  <div class="col">
    <h1>Guide: Onyxias Hort</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>In Onyxias Hort tretet ihr Nefarians Schwester Onyxia entgegen.
    Da sie der einzigste Bossgegner ist, der euch in der Instanz
    erwartet, handelt es sich um eine sehr kurze Schlachtzugsinstanz.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Trash</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Die Drachkins vor Onyxia lassen sich sehr leicht erledigen.
    Ihre einzige besondere Fähigkeit ist ein starker AoE, den sie
    um sich wirken. Nahkämpfer gehen deshalb auf Abstand, wenn
    sie geringe Gesundheit haben.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Boss: Onyxia</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Der Kampf mit Onyxia setzt sich aus drei Phasen zusammen.
    In der ersten Phase versucht sich Onyxia mit ihrem
    <a href="https://classic.wowhead.com/spell=18435/flame-breath">Flammenatem</a>
     und
    <a href="https://classic.wowhead.com/spell=15847/tail-sweep">Schwanzschlag</a>
    zu wehren. In der zweiten Phase steigt sie
    empor und versucht &uuml;ber ihren
    <a href="https://classic.wowhead.com/spell=17086/breath">Atem</a>
    den Raid auszul&ouml;schen. Tapfere Helden, die dies &uuml;berleben
    werden sie auch in einer dritten Phase zu Boden reissen und
    sie letztendlich besiegen.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Phase 1: Erste Gegenwehr</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Bereits beim Pull muss der Raid koordiniert auf Onyxia zulaufen.
    Der Tank nimmt Onyxia, dreht sie im Uhrzeigersinn und tankt sie
    mit dem R&uuml;cken zur hinteren H&ouml;hlenwand. Der
    Raid geht mit dieser Drehung mit, bleibt dabei immer auf der
    H&ouml;he von Onyxias Bauch und vermeidet somit, von ihrem
    <a href="https://classic.wowhead.com/spell=18435/flame-breath">Flammenatem</a>
    oder
    <a href="https://classic.wowhead.com/spell=15847/tail-sweep">Schwanzschlag</a>
    getroffen zu werden. Dies f&uuml;hrt dazu, dass sich der Raid links
    positionieren wird.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>In dieser Phase kommt es auf eine gute Positionierung
    an. Schaden ist in dieser Phase unwichtig. Damit hat der Tank auch genug Zeit,
    Onyxia anzutanken und Bedrohung aufzubauen. Der Raid macht erst Schaden
    auf Onyxia, wenn die Raidleitung dies ansagt.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <img src="/assets/guide/onyxia/onyxia_phase1.png"
    class="img-fluid" alt="Onyxia - Phase 1">
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Fernk&auml;mpfern ist zu raten, diese Phase sehr gem&uuml;tlich
    anzugehen und alle Cooldowns sowie Mana f&uuml;r Phase 2 aufzuheben.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h4>Rollenspezifische Hinweise</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Folgende Hinweise sind von den einzelnen Rollen w&auml;hrend dieser Phase zu beachten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Tank</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Beim Pull ist darauf zu achten, Onyxia in der richtigen Geschwindigkeit zu drehen.
      Der Raid muss die M&ouml;glichkeit haben, mit der Drehung mitzulaufen und sich
      seitlich zu positionieren.</li>
      <li>Die Position des Tanks ist ganz nahe an der R&uuml;ckseite der H&ouml;hle. Onyxia
      kann einen
      <a href="https://classic.wowhead.com/spell=18500/wing-buffet">Fl&uuml;gelsto&szlig;</a>
      wirken, der den Tank zur&uuml;ck wirft. Steht er nahe an der H&ouml;hlenwand, so ist
      er sofort wieder bei Onyxia und kann weiter tanken. Die Tankposition ist in der Grafik
      als rote Position eingezeichnet.</li>
      <li>Solltet ihr bei Onyxia die Bedrohung verlieren, k&ouml;nnt ihr diese nicht per Spott
      zur&uml;ckholen. Euer Raid muss zun&auml;chst aufh&ouml;hren Schaden auszuteilen, damit
      ihr die Bedrohung zur&uuml;ckholen k&ouml;nnt.</li>
      <li>Je mehr Bedrohung ihr aufbaut, umso vorteilhafter werdet ihr in Phase 3 starten.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Nahk&auml;mpfer</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Nahk&auml;mpfer positionieren sich seitlich von Onyxia. Auch mit
      ein paar Meter Entfernung lassen sich immer noch Attacken auf sie wirken.
      Dies macht ihr euch zu Nutze. Wenn ihr zu nah bei Onyxia steht, kann es
      sein, dass euch ihre Attacken treffen und ihr dies nicht &uuml;berlebt.
      Die Position der Nahk&auml;mpfer ist im Bild gelb eingezeichnet.</li>
      <li>In diesem Kampf habt ihr unbedingt darauf zu achten, dass ihr keine
      h&ouml;here Bedrohung aufbaut, als der Tank. Dieser kann Onyxia nicht
      abspotten, der Bedrohungsverlust des Tanks f&uuml;hrt somit schnell zu
      mehreren toden Raidmitgliedern.</li>
      <li>Kurz vor Beginn der Phase 2 benutzt ihr F&auml;higkeiten zur
      Bedrohungsreduzierung. Schurken k&ouml;nnen beispielsweise
      <a href="https://classic.wowhead.com/spell=11329/vanish">Verschwinden</a>.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Fernk&auml;mpfer</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Zusammen mit den Heilern positioniert ihr euch seitlich auf
      H&ouml;he von Onyxias Bauch, damit ihr nicht Opfer ihrer Attacken
      werdet. Eure Position ist in der Grafik lila eingezeichnet.</li>
      <li>Ihr k&ouml;nnt diese Phase sehr gem&uuml;tlich angehen, da ihr
      eure Ressourcen und Cooldowns für Phase 2 aufhebt.  Zauberst&auml;be
      sind v&ouml;llig ausreichend, um Schaden auszuteilen.</li>
      <li>Es ist sehr wichtig, dass ihr so wenig Bedrohung wie m&ouml;glich
      aufbaut. Onyxia kann nicht gespottet werden. Baut ihr mehr Bedrohung
      als der Tank auf, kann dies schnell zu einem Wipe f&uuml;hren. Onyxia
      rennt dann in den Raid und es wird schwierig f&uuml;r den Tank wieder
      die h&ouml;chste Bedrohung aufzubauen.</li>
      <li>Kurz vor Phase 2 nutzt ihr eure F&auml;higkeiten, die Bedrohung
      reduzieren. J&auml;ger k&ouml;nnen sich beispielsweise
      <a href="https://classic.wowhead.com/spell=5384/feign-death">totstellen</a>.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Heiler</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Zusammen mit den Fernk&auml;mpfern positioniert ihr euch seitlich
      auf H&ouml;he von Onyxias Bauch, damit ihr nicht Opfer ihrer Attacken
      werdet. Eure Position ist in der Grafik gr&uuml;n eingezeichnet.</li>
      <li>Ihr heilt ganz normal die Tanks und den Raid, ansonsten ist nichts
      besonderes zu beachten.</li>
      <li>Falls der Tank die Bedrohung verliert, wird er nicht spotten
      k&ouml;nnen. Es ist davon auszugehen, dass Onyxia dann sehr starken
      Schaden auf Raidmitglieder aus&uuml;bt. Beim Heilen dieses Schadens
      ist wichtig, dass der Tank mehr Bedrohnung aufbaut als ihr, um
      Onyxia wieder &uuml;bernehmen zu k&ouml;nnen. Im Zweifel opfert das
      Raidmitglied, das zu viel Bedrohung aufgebaut hat.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Phase 2: Feueriger Atem</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Ist Onyxias Gesundheit auf 65% gesunken, geht der Kampf
    in Phase 2 &uuml;ber.
    In dieser Phase will Onyxia euch mit ihrem
    <a href="https://classic.wowhead.com/spell=17086/breath">Atem</a>
    ausl&ouml;schen. Sie wird sich vom Tank abwenden und zum
    Eingang der H&ouml;hle laufen. Hier fangt ihr sofort an,
    ordentlich Schaden auf die alte Dame auszuteilen. Setzt vor allem
    alle DoTs, die ihr wirken k&ouml;nnt. DoTs sind in dieser Phase
    extrem wichtig, da sich Onyxia immer wieder aus eurer Reichweite
    bewegen wird.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Wichtig ist dabei, dass ihr euch gut verteilt. Onyxia wird
    immer wieder einen
    <a href="https://classic.wowhead.com/spell=18392/fireball">Feuerball</a>
    auf ein Raidmitglied wirken, der auch Schaden an allen Raidmitgliedern
    in 10 Metern Reichweite erzeugt. Daher stehen Heiler (gr&uuml;n in der
    Grafik) und Fernk&auml;mpfer (lila in der Grafik) breit verteilt in der
    H&ouml;hle. Nahk&auml;mpfer (gelb in der Grafik) platzieren sich
    seitlich, um Adds abzufangen. Der Tank versucht in der N&auml;he von
    Ony zu bleiben. Er kann mit seinen F&auml;higkeiten weiter Bedrohung
    auf Onyxia aufbauen, muss dazu aber springen. Die automatische Attacke
    (Waffenschlag) funktioniert nicht.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <img src="/assets/guide/onyxia/onyxia_phase2.png"
    class="img-fluid" alt="Onyxia - Phase 2">
  </div>
</div>
<div class="row">
  <div class="col">
    <p>W&auml;hrend die Fernk&auml;mpfer maximalen Schaden
    auf Onyxia austeilen, fangen die Nahk&auml;pfer die kleinen Welpen
    ab, die Onyxia
    <a href="https://classic.wowhead.com/spell=17646/summon-onyxia-whelp">beschw&ouml;rt</a>.
    Alternativ k&ouml;nnen auch Vertreter von Klassen mit starken
    AoE-F&auml;higkeiten (Magier, Hexer) abgestellt werden, um die Welpen
    wegzubomben.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Ziel ist, diese Phase m&ouml;glichst kurz zu halten. Dauert
    die Phase zu lange wird Onyxia ihren
    <a href="https://classic.wowhead.com/spell=17086/breath">Atem</a>
    wirken. Mit dieser F&auml;higkeit wird Onyxia einen Feuerstrahl
    von ihrer Position quer durch den Raum auf die andere Seite wirken.
    Diesen &uuml;berleben nur Spieler, die sich ganz seitlich in
    Sicherheit bringen. Daher ist wichtig, immer die Position von Onyxia
    zu kennen. J&auml;ger k&ouml;nnen dabei helfen, indem sie
    <a href="https://classic.wowhead.com/spell=19879">Drachkins aufsp&uuml;hren</a>
    und Onyxias Position ansagen. Die Fernk&auml;mpfer geben sich
    alle M&uuml;he, die Phase so kurz wie m&ouml;glich zu halten, so
    dass es nicht zum Atem kommt. Dazu werden alle Cooldowns verwendet und
    keine Ressourcen gespart.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <img src="/assets/guide/onyxia/onyxia_phase2b.png"
    class="img-fluid" alt="Onyxia - Atem in Phase 2">
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Es kann vorteilhaft sein, bereits in dieser Phase den Raid auf die
    beiden Raumh&auml;lften aufzuteilen, zum Beispiel ungerade Gruppen links
    und gerade Gruppen rechts. Dadurch wei&szlig; jeder, welche Seite der
    k&uuml;rzere Fluchtweg vor dem Atem ist. Zus&auml;tzlich ist dies eine gute
    Vorbereitung f&uuml;r Phase 3.
  </div>
</div>
<div class="row">
  <div class="col">
    <h4>Rollenspezifische Hinweise</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Folgende Hinweise sind von den einzelnen Rollen w&auml;hrend dieser Phase zu beachten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Tank</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Da Onyxia fliegt, wird sie f&uuml;r eure automatischen
      Attacken (Waffenschlag) nicht in Reichweite sein. Ihr k&ouml;nnt
      nur eure F&auml;higkeiten auf sie wirken.</li>
      <li>Versucht nahe bei Onyxia zu bleiben, damit ihr sie beim
      &Uuml;bergang in Phase 3 direkt in Empfang nehmen k&ouml;nnt.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Nahk&auml;mpfer</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Onyxia wird kleine Welpen beschw&ouml;ren. Nehmt diese
      Welpen entgegen und t&ouml;tet sie.</li>
      <li>Onyxias Feuerball wird mehrere von euch treffen. Habt ihr
      zu wenig Gesundheit, geht kurz auf Abstand zu den anderen
      Nahk&auml;mpfern.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Fernk&auml;mpfer</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Eure Aufgabe ist, die Phase so kurz wie m&ouml;glich
      zu halten. Nutzt alle eure Ressourcen und Cooldowns, um
      maximalen Schaden auf Onyxia zu machen.</li>
      <li>Dabei verteilt ihr euch im Raum, um m&ouml;glichst
      wenig Schaden durch ihren Feuerball zu erlangen.</li>
      <li>Ein paar von euch mit starken AoE-Zaubern k&ouml;nnen
      abgestellt werden, um die Nahk&auml;mpfer beim wegbomben
      der Welpen zu unterst&uuml;tzen.</li>
      <li>Da ihr im Raum steht, achtet immmer auf die Position
      von Onyxia, damit ihr beim Atem rechtzeitig auf eine Seite
      ausweichen k&ouml;nnt.</li>
      <li>DoTs unterst&uuml;tzen diese Phase sehr stark, da Onyxia
      euch immer wieder au&szlig;er Reichweite fliegen wird.</li>
      <li>Wichtig ist, dass keiner eurer DoTs zu Beginn von Phase
      3 tickt. H&ouml;rt deshalb kurz vor Ende der Phase auf,
      DoTs auf Onyxia zu setzen.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Heiler</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Vor allem die Nahk&auml;mpfer bekommen in dieser
      Phase aufgrund des Feuerballs Schaden. Heilt alle
      Raidmitglieder, die vom Feuerball schaden erlitten haben.</li>
      <li>Da ihr verteilt im Raum steht, m&uuml;sst ihr auf
      Onyxias Position achten, um w&auml;hrend ihres Atems
      sehr schnell auf eine rettende Seite laufen zu k&ouml;nnen.</li>
      <li>Heilt vor Beginn der Phase 3 nochmal alle hoch. Zu
      Beginn der Phase 3 sollten m&ouml;glichst wenig HoTs ticken,
      da diese sonst gebenenfalls zu viel Bedrohung erzeugen.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Phase 3: Das F&uuml;rchten</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Onyxias Atem hilft ihr nichts. Ihr seid einfach zu gut und
    weicht immer aus. Deshalb sinkt Onyxia wieder auf den Boden herab.
    Hierbei ist es wichtig, dass der Tank schnell Bedrohung auf Onyxia
    aufbaut. W&auml;hrend Onyxia herabsinkt darf daher kein Schaden
    auf Onyxia ausgeteilt werden. Auch eure DoTs sollten dann schon
    ausgelaufen sein. Ebenfalls haben die Heiler darauf geachtet vor
    der Phase alle zu heilen, so dass sie nicht durch Heilung beim
    Herabsinken von Onyxia Bedrohung aufbauen. Auch Buffen baut
    Bedrohung auf, weshalb der n&ouml;tige Fearschutz vor Beginn der
    Phase 3 auf den Tank gebufft werden sollte.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>In Phase 3 verh&auml;lt sich Onyxia wie in Phase 1. Der Raid
    positioniert sich deshalb seitlich von Onyxia auf H&ouml;he ihres
    Bauches. Wurde bereits in Phase 2 eine Einteilung vorgenommen,
    wer auf welcher Seite steht, kann diese Einteilung hier
    &uuml;bernommen werden.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Onyxia wird in dieser Phase ebenfalls ihre Welpen
    beschw&ouml;ren. Diese m&uuml;ssen vernichtet werden. Hier
    k&ouml;nnen die starken AoE-Zauber der Magier und Hexer
    verwendet werden.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Weiterhin st&ouml;&szlig;t Onyxia in dieser Phase
    immer wieder ein
    <a href="https://classic.wowhead.com/spell=18431">dr&ouml;hnendes
    Gebr&uuml;ll</a> aus. Dieses feart den ganzen Raid. Auf
    dem Tank sollte daher immer ein Fearschutz gebufft sein. Alle
    anderen positionieren sich nach dem Fear wieder schnellstm&ouml;glich
    auf den Seiten von Onyxia auf H&ouml;he ihres Bauches, um nicht von
    den anderen F&auml;higkeiten getroffen zu werden.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>W&auml;hrend der Raid gefeart ist, entsteht durch Onyxias
    Gebr&uuml;ll ein
    <a href="https://classic.wowhead.com/spell=19497">Ausbruch</a>
    der Lawa aus dem H&ouml;hlenboden. Hierdurch schie&szlig;en
    Feuerw&auml;nde nach oben, die an jedem Spieler, der dadurch
    gefeart wird, Feuerschaden verursachen. Dieser Schaden kann durch
    Feuerschutztr&auml;nke vermindert werden.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h4>Rollenspezifische Hinweise</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Folgende Hinweise sind von den einzelnen Rollen w&auml;hrend dieser Phase zu beachten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Tank</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Zu Beginn der Phase musst du direkt Bedrohnung auf
      Onyxia aufbauen. Da Onyxia nicht spottbar ist, darf kein
      anderes Raidmitglied die Bedrohung erlangen.</li>
      <li>Achte auf eine gute (vorher abgesprochene) Positionierung
      von Onyxia, damit der Raid nicht durch ihre F&auml;higkeiten
      getroffen wird. Es ist zu empfehlen, Onyxia an derselben
      Position wie Phase 1 zu tanken.</li>
      <li>Dir muss regelm&auml;&szlig; Fearschutz gebufft werden,
      damit du weiter an Onyxia bleiben und weiter Bedrohung aufbauen
      kannst. Bedenke, dass deine Heiler gefeart werden.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Nahk&auml;mpfer</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Positioniert euch in dieser Phase wieder seitlich von Onyxia.</li>
      <li>Ihr werdet regelm&auml;&szlig;ig gefeart und
      m&uuml;sst euch wieder neu positionieren. Ist der Weg zu Onyxia nach
      dem Fear zu weit, kann es auch sinnvoll sein, wenn ihr beim Erlegen
      der Welpen unterst&uuml;tzt.</li>
      <li>Feuerschutztr&auml;nke helfen, den euch zugef&uuml;gten Schaden
      durch die Feuerw&auml;nde zu reduzieren. Heilt euch nach dem Fear
      gegebenenfalls auch mal selbst mit Verb&auml;nden.</li>
      <li>Passt in dieser Phase mit der Bedrohung auf Onyxia auf. Sie
      ist nicht spottbar und es ist wichtig, dass der Tank am meisten
      Bedrohung bei ihr hat.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Fernk&auml;mpfer</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Positioniert euch in dieser Phase wieder seitlich von Onyxia.</li>
      <li>Ihr werdet in dieser Phase regelm&auml;&szlig;ig gefeart. Als
      Fernk&auml;mpfer solltet ihr allerdings keine Probleme haben, euch
      so passend zu positionieren, dass das Risiko durch eine Feuerwand
      gefeart zu werden, gering ist.</li>
      <li>Nutzt M&ouml;glichkeiten, um Feuerschaden zu reduzieren. Magier
      k&ouml;nnen zum Beispiel ihr Schild nutzen.</li>
      <li>Auch in dieser Phase kommen Welpen. Vernichtet diese mit euren
      AoE-Zaubern.</li>
      <li>Passt generell mit eurer Bedrohung auf Onyxia auf. Zum Start der
      Phase d&uuml;rfen keine DoTs von euch auf Onyxia sein. Onyxia ist nicht
      spottbar, d.h. kein Schaden auf sie, wenn der Tank die Bedrohung
      verloren hat. Erst wenn der Tank wieder Bedrohung aufgebaut hat,
      k&ouml;nnt ihr weiter Schaden machen.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Heiler</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>In dieser Phase ist es wichtig, dass dem Tank
      regelm&auml;&szlig;ig Fearschutz gebuffed wird. So
      verhindert ihr Bedrohungsverlust w&auml;hrend des Fears.</li>
      <li>Ber&uuml;cksichtigt beim Heilen den Fear. Heilt den
      Tank vor Beginn des Fears.</li>
      <li>Zu Beginn der Phase ist es wichtig, dass der Tank
      Bedrohung aufbauen kann. W&auml;hrend Onyxia herabsinkt
      solltet ihr deshalb keinen Heilzauber wirken und keine HoTs
      ticken lassen. Erst wenn der Tank die Bedrohung auf Onyxia
      hat, setzt ihr sofort mit der Heilung ein.</li>
    </ul>
  </div>
</div>
