<div class="row">
  <div class="col">
    <h1>Guide: Onyxias Hort</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>In Onyxias Hort tretet ihr Nefarians Schwester Onyxia entgegen.
    Da sie der einzigste Bossgegner ist, der euch in der Instanz
    erwartet, handelt es sich um eine sehr kurze Schlachtzugsinstanz.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Trash</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Die Drachkins vor Onyxia lassen sich sehr leicht erledigen.
    Ihre einzige besondere Fähigkeit ist ein starker AoE, den sie
    um sich wirken. Nahkämpfer gehen deshalb auf Abstand, wenn
    sie geringe Gesundheit haben.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Boss: Onyxia</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    Der Kampf mit Onyxia setzt sich aus drei Phasen zusammen.
    In der ersten Phase versucht sich Onyxia mit ihrem
    <a href="https://classic.wowhead.com/spell=18435/flame-breath">Flammenatem</a>
     und
    <a href="https://classic.wowhead.com/spell=15847/tail-sweep">Schwanzschlag</a>
    zu wehren. In der zweiten Phase steigt sie
    empor und versucht &uuml;ber ihren
    <a href="https://classic.wowhead.com/spell=17086/breath">Atem</a>
    den Raid auszul&ouml;schen. Tapfere Helden, die dies &uuml;berleben
    werden sie auch in einer dritten Phase zu Boden reissen und
    sie letztendlich besiegen.
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Phase 1: Erste Gegenwehr</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Bereits beim Pull muss der Raid koordiniert auf Onyxia zulaufen.
    Der Tank nimmt Onyxia, dreht sie im Uhrzeigersinn und tankt sie
    mit dem R&uuml;cken zur hinteren H&ouml;hlenwand. Der
    Raid geht mit dieser Drehung mit, bleibt dabei immer auf der
    H&ouml;he von Onyxias Bauch und vermeidet somit, von ihrem
    <a href="https://classic.wowhead.com/spell=18435/flame-breath">Flammenatem</a>
    oder
    <a href="https://classic.wowhead.com/spell=15847/tail-sweep">Schwanzschlag</a>
    getroffen zu werden. Dies f&uuml;hrt dazu, dass sich der Raid links
    positionieren wird.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>In dieser Phase kommt es auf eine gute Positionierung
    an. Schaden ist in dieser Phase unwichtig. Damit hat der Tank auch genug Zeit,
    Onyxia anzutanken und Bedrohung aufzubauen. Der Raid macht erst Schaden
    auf Onyxia, wenn die Raidleitung dies ansagt.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <img src="/assets/guide/onyxia/onyxia_phase1.png"
    class="img-fluid" alt="Onyxia - Phase 1">
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Fernk&auml;mpfern ist zu raten, diese Phase sehr gem&uuml;tlich
    anzugehen und alle Cooldowns sowie Mana f&uuml;r Phase 2 aufzuheben.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h4>Rollenspezifische Hinweise</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Folgende Hinweise sind von den einzelnen Rollen w&auml;hrend dieser Phase zu beachten.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Tank</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Beim Pull ist darauf zu achten, Onyxia in der richtigen Geschwindigkeit zu drehen.
      Der Raid muss die M&ouml;glichkeit haben, mit der Drehung mitzulaufen und sich
      seitlich zu positionieren.</li>
      <li>Die Position des Tanks ist ganz nahe an der R&uuml;ckseite der H&ouml;hle. Onyxia
      kann einen
      <a href="https://classic.wowhead.com/spell=18500/wing-buffet">Fl&uuml;gelsto&szlig;</a>
      wirken, der den Tank zur&uuml;ck wirft. Steht er nahe an der H&ouml;hlenwand, so ist
      er sofort wieder bei Onyxia und kann weiter tanken. Die Tankposition ist in der Grafik
      als rote Position eingezeichnet.</li>
      <li>Solltet ihr bei Onyxia die Bedrohung verlieren, k&ouml;nnt ihr diese nicht per Spott
      zur&uml;ckholen. Euer Raid muss zun&auml;chst aufh&ouml;hren Schaden auszuteilen, damit
      ihr die Bedrohung zur&uuml;ckholen k&ouml;nnt.</li>
      <li>Je mehr Bedrohung ihr aufbaut, umso vorteilhafter werdet ihr in Phase 3 starten.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Nahk&auml;mpfer</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Nahk&auml;mpfer positionieren sich seitlich von Onyxia. Auch mit
      ein paar Meter Entfernung lassen sich immer noch Attacken auf sie wirken.
      Dies macht ihr euch zu Nutze. Wenn ihr zu nah bei Onyxia steht, kann es
      sein, dass euch ihre Attacken treffen und ihr dies nicht &uuml;berlebt.
      Die Position der Nahk&auml;mpfer ist im Bild gelb eingezeichnet.</li>
      <li>In diesem Kampf habt ihr unbedingt darauf zu achten, dass ihr keine
      h&ouml;here Bedrohung aufbaut, als der Tank. Dieser kann Onyxia nicht
      abspotten, der Bedrohungsverlust des Tanks f&uuml;hrt somit schnell zu
      mehreren toden Raidmitgliedern.</li>
      <li>Kurz vor Beginn der Phase 2 benutzt ihr F&auml;higkeiten zur
      Bedrohungsreduzierung. Schurken k&ouml;nnen beispielsweise
      <a href="https://classic.wowhead.com/spell=11329/vanish">Verschwinden</a>.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Fernk&auml;mpfer</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Zusammen mit den Heilern positioniert ihr euch seitlich auf
      H&ouml;he von Onyxias Bauch, damit ihr nicht Opfer ihrer Attacken
      werdet. Eure Position ist in der Grafik lila eingezeichnet.</li>
      <li>Ihr k&ouml;nnt diese Phase sehr gem&uuml;tlich angehen, da ihr
      eure Ressourcen und Cooldowns für Phase 2 aufhebt.  Zauberst&auml;be
      sind v&ouml;llig ausreichend, um Schaden auszuteilen.</li>
      <li>Es ist sehr wichtig, dass ihr so wenig Bedrohung wie m&ouml;glich
      aufbaut. Onyxia kann nicht gespottet werden. Baut ihr mehr Bedrohung
      als der Tank auf, kann dies schnell zu einem Wipe f&uuml;hren. Onyxia
      rennt dann in den Raid und es wird schwierig f&uuml;r den Tank wieder
      die h&ouml;chste Bedrohung aufzubauen.</li>
      <li>Kurz vor Phase 2 nutzt ihr eure F&auml;higkeiten, die Bedrohung
      reduzieren. J&auml;ger k&ouml;nnen sich beispielsweise
      <a href="https://classic.wowhead.com/spell=5384/feign-death">totstellen</a>.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Heiler</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Zusammen mit den Fernk&auml;mpfern positioniert ihr euch seitlich
      auf H&ouml;he von Onyxias Bauch, damit ihr nicht Opfer ihrer Attacken
      werdet. Eure Position ist in der Grafik gr&uuml;n eingezeichnet.</li>
      <li>Ihr heilt ganz normal die Tanks und den Raid, ansonsten ist nichts
      besonderes zu beachten.</li>
      <li>Falls der Tank die Bedrohung verliert, wird er nicht spotten
      k&ouml;nnen. Es ist davon auszugehen, dass Onyxia dann sehr starken
      Schaden auf Raidmitglieder aus&uuml;bt. Beim Heilen dieses Schadens
      ist wichtig, dass der Tank mehr Bedrohnung aufbaut als ihr, um
      Onyxia wieder &uuml;bernehmen zu k&ouml;nnen. Im Zweifel opfert das
      Raidmitglied, das zu viel Bedrohung aufgebaut hat.</li>
    </ul>
  </div>
</div>
