<div class="row">
  <div class="col">
    <h1>Lootsystem: EPGP</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            Benutzer
          </th>
          <th scope="col">
            EffortPoints
          </th>
          <th scope="col">
            GearPoints
          </th>
          <th scope="col">
            Priorität
          </th>
        </tr>
      </thead>
      <tbody *ngIf="epgp.length > 0">
        <tr *ngFor="let entry of epgp">
          <td>
            <div class="row">
              <div class="col">
                {{ entry.battle_tag }}
              </div>
            </div>
            <ul class="row mb-0" *ngIf="entry.characters != null && entry.characters.length > 0">
              <li class="col-12" *ngFor="let character of sortCharacters(entry.characters)">
                <small>{{ character.name }} ({{ character.realm }})</small>
              </li>
            </ul>
          </td>
          <td>
            <a [routerLink]="'/epgp/account/' + entry.effort_points_account">
              {{ entry.effort_points | number: '1.2-2' }}
            </a>
          </td>
          <td>
            <a [routerLink]="'/epgp/account/' + entry.gear_points_account">
              {{ entry.gear_points | number: '1.2-2' }}
            </a>
          </td>
          <td>
            {{ entry.priority }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="spinner-border" role="status" *ngIf="loading">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
