/* You can add global styles to this file, and also import other style files */

$body-bg: #d6b690;
$body-color: #613f21;

$dark: #3d2a19;
$light: #78532f;

@import "node_modules/bootstrap/scss/bootstrap";
