/* You can add global styles to this file, and also import other style files */

$body-bg: #d6b690;
$body-color: #613f21;

$dark: #3d2a19;

$navbar-dark-brand-color: #b08d68;
$navbar-dark-brand-hover-color: #b09779;

$navbar-dark-color: #b08d68;
$navbar-dark-hover-color: #b09779;
$navbar-dark-active-color: #b09779;

@import "node_modules/bootstrap/scss/bootstrap";
