<div class="row mb3">
  <div class="col">
    <h1>Herzlich Willkommen!</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Wir sind ein Raidtreff auf dem <strong>World of Warcraft EU Classic</strong>-Realm <strong>Razorfen</strong>.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Wir treffen uns <strong>Donnerstags, ab 19 Uhr</strong>, um etwas Erfrischung in den <strong>Geschmolzenen Kern</strong>
    zu bringen. So l&ouml;schen wir die b&ouml;&szlig;artigen Feuerlementare aus und vertreiben Ragnaros.
    Zus&auml;tzlich statten wir der guten alten Drachendame <strong>Onyxia</strong> einen
    Besuch ab und streichen die Belohnung ein, die wir f&uuml;r ihren Kopf erhalten werden.</p>
    <p>Unser zweiter Raidtag ist <strong>Dienstags, ab 19 Uhr</strong>. Diesen werden wir vor allem nutzen, um weiter
    in den Pechschwingenhort hinein zu dr&auml;ngen.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Der Raidtreff ist gildenfrei bzw. gilden&uuml;bergreifend. Das bedeutet: Es herrscht kein Gildenzwang, ihr m&uuml;sst eure
    Gilde nicht verlassen.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Konnten wir dein Interesse wecken? Dann melde dich doch einfach bei unserem Raidlead <strong>Thoki#21479</strong> im
    Battle.net oder <a routerLink="/anmeldung">melde dich hier an</a>. Wir freuen uns auf dich!</p>
  </div>
</div>
