<div class="row mb3">
  <div class="col">
    <h1>Herzlich Willkommen!</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Wir sind eine Gilde und Raidgruppe auf dem <strong>World of Warcraft EU
    Classic</strong>-Realm <strong>Razorfen</strong>. Unsere Gilde ist f&uuml;r
    jeden offen und wir nehmen Spieler auf jeder Levelstufe und mit jeder
    Zielrichtung (PvE, PvP, ...) auf. Uns zeichnet eine tolle Gemeinschaft
    mit gegenseitiger Unterst&uuml;tzung und viel Spa&szlig; beim Spielen aus.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Zu unseren Raids treffen wir uns <strong>Donnerstags und Dienstags von 19
    bis 23 Uhr</strong>. Dabei sind wir eine gilden&uuml;bergreifende Raidgruppe
    aus Stammspielern. Auch der Raidstamm unterst&uuml;tzt sich gegenseitig. Sofern
    Pl&auml;tze frei sind, nehmen wir auch gerne neue Mitstreiter auf, ein Gildenwechsel
    ist dazu nicht n&ouml;tig, aber nat&uuml;rlich gerne gesehen.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Den bisherigen Content haben wir leergefegt, sowohl im Geschmolzenen Kern
    als auch in Onyxias Hort. Wir freuen uns somit auf die neuen Herausforderungen
    des Pechschwingenhorts und werden auch Nefarian in seine Schranken weisen.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Konnten wir dein Interesse wecken? Dann melde dich doch einfach bei unserem
    Raidlead <strong>Thoki#21479</strong> im Battle.net. Wir freuen uns auf dich!</p>
  </div>
</div>
